/*
Error: Invalid CSS after "@charset "utf-8"": expected "{", was ";"
        on line 4 of main-core.1.0.6.scss

1: ---
2: # Only the main Sass file needs front matter (the dashes are enough)
3: ---
4: @charset "utf-8";
5: 
6: 
7: // Import partials from `sass_dir` (defaults to `_sass`)
8: // Add here new .scss files from _sass folder
9: @import

Backtrace:
main-core.1.0.6.scss:4
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:1208:in `expected'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:677:in `block'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:696:in `block_child'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:41:in `parse'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:414:in `_to_tree'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/bin/scss:13:in `<top (required)>'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/bin/scss:23:in `load'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/bin/scss:23:in `<main>'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/Users/uxconsultingltd/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@charset \"utf-8\"\": expected \"{\", was \";\"\A         on line 4 of main-core.1.0.6.scss\A \A 1: ---\A 2: # Only the main Sass file needs front matter (the dashes are enough)\A 3: ---\A 4: @charset \"utf-8\";\A 5: \A 6: \A 7: // Import partials from `sass_dir` (defaults to `_sass`)\A 8: // Add here new .scss files from _sass folder\A 9: @import"; }
