<section class="card-view">
    <form>
        <section class="upload-wrapper">
            <h2 class="emphasis margin-1b">Additional information</h2>
            <p>Please provide any extra information that could help process your claim quickly.
                For example, tell us in the space below where to find relevant payments on the
                files you’ve uploaded. Or if you have a summary document, attach this as an
                additional file.</p>
            <h3>Additional comments</h3>
            <textarea id="additional-comments" rows="4"></textarea>
            <p class="word-count"><span>1000</span> characters remaining</p>
            <h3 class="margin-1t">Attach additional files</h3>

            <!--Upload-container-->
            {% include upload-container-additional.html %}
            <a class="button-primary button">Add more</a>
        </section>
    </form>
</section>