<section class="card-view">
    <form>
        <section class="additional-files-container">
            <h2 class="emphasis margin-1b">Additional information</h2>
            <p>Please provide any extra information that could help process your claim quickly.
                For example, tell us in the space below where to find relevant payments on the
                files you’ve uploaded. Or if you have a summary document, attach this as an
                additional file.
            </p>


            <!--Accordion AA0a-->
            <div class="panel-group accordion-evidence" id="accordionAA0a">
                <div class="panel panel-default">

                    <!--Header-level-AA0a-->
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordionAA0a" href="#collapseAA0a">
                        <h4 class="panel-title">
                            Add additional information
                        </h4>
                        <span class="header-panel-icon"></span>
                    </div>

                    <!--Body-level-AA0a-->
                    <div id="collapseAA0a" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="additional-wrapper">
                                <h3>Additional information item</h3>
                                <!--<span class="description">-->
                                    <!--(An item can contain comments and multiple files)-->
                                <!--</span>-->
                                <div class="additional-element-wrapper">

                                    <!--Upload-container-->
                                    {% include upload-container-additional.html %}

                                    <a class="button-primary button">Add another</a>

                                    <hr color="#ff9911">
                                    <h3>Add comments</h3>
                                    <textarea id="additional-comments" rows="4"></textarea>
                                    <p class="word-count"><span>1000</span> characters remaining</p>
                                    <!--<h3 class="margin-1t">Attach additional files</h3>-->
                                    <div class="submit-wrapper">
                                        <a class="button-primary button submit">Submit</a>
                                    </div>

                                </div>
                                <a class="button-primary button add-more">Add more</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="evidence-header">Additional file(s)</div>
                        <ul class="evidence-wrapper">
                            <li class="evidence-item">019273-1111.pdf</li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="evidence-header">Additional comments</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula magna sed justo fringilla iaculis.
                            Vestibulum vitae sapien vestibulum, rutrum lacus ac, tempus mi. Etiam at
                            lacus vestibulum, euismod velit et, sodales felis. Nunc semper semper tortor.
                            Proin eu risus at nunc cursus consequat vel vitae ante.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="evidence-header">Additional file(s)</div>
                        <ul class="evidence-wrapper">
                            <li class="evidence-item">019273-2222.pdf</li>
                            <li class="evidence-item">019273-2223.pdf</li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="evidence-header">Additional comments</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula magna sed justo fringilla iaculis.
                            Vestibulum vitae sapien vestibulum, rutrum lacus ac, tempus mi. Etiam at
                            lacus vestibulum, euismod velit et, sodales felis. Nunc semper semper tortor.
                            Proin eu risus at nunc cursus consequat vel vitae ante.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="evidence-header">Additional file(s)</div>
                        <ul class="evidence-wrapper">
                            <li class="evidence-item">019273-3333.pdf</li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="evidence-header">Additional comments</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula magna sed justo fringilla iaculis.
                            Vestibulum vitae sapien vestibulum, rutrum lacus ac, tempus mi. Etiam at
                            lacus vestibulum, euismod velit et, sodales felis. Nunc semper semper tortor.
                            Proin eu risus at nunc cursus consequat vel vitae ante.
                        </p>
                    </div>
                </div>

            </div>

        </section>
    </form>
</section>