<section class="card-view caution-state">
    <form>
        <section class="upload-wrapper info-check">
            <div class="info-note caution">
                <p>Have you uploaded all the evidence needed to support this claim?
                </p>

            </div>
            <fieldset>
                <legend class="sr-only">
                    Confirm all evidence uploaded
                </legend>
                <div class="input-wrapper">
                    <input name="###" id="###id" class="fancy-checkbox" type="checkbox">
                    <label for="###id" class="inline fancy-checkbox">I have included all the evidence required to support this claim</label>
                </div>
            </fieldset>
        </section>
    </form>
</section>