<div class="col-md-12">
    <div class="info-note caution">Please note: you can only claim for gross/basic pay; other payments, such as commission or bonuses, cannot be included.</div>
</div>
<div class="col-md-10 col-sm-9 col-xs-12">
    <p>For <strong>each individual salary</strong> you claim, you must submit</p>
    <ul>
        <li>Individual <strong>wage slips</strong>, or a <strong>company payroll listing</strong>, which must clearly show the cost breakdown of each individual salary being claimed.</li>
    </ul>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 evidence-img">
    <p class="bold margin-1b">
        Example:
    </p>
    <a class="margin-1t" href="">
        <img src="/sept-mvs/images/claim-evidence-examples/payslip.jpg" class="img-example" alt="Wage slip example">
    </a>
</div>
<div class="col-md-10 col-sm-9 col-xs-12">
    <p>For staff spending <strong>only part of their time</strong> working on approved projects, you must also submit:</p>
    <ul>
        <li>Detailed <strong>time sheets</strong> (or information from a <strong>time recording system</strong>) specifying the amount of time spent on the project, which must be
            <strong>signed</strong> by the employee and <strong>countersigned</strong> by their manager/director.
        </li>
    </ul>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 evidence-img">
    <p class="bold margin-1b">
        Example:
    </p>
    <a class="margin-1t" href="">
        <img src="/sept-mvs/images/claim-evidence-examples/timesheet.jpg" class="img-example" alt="Timesheet example">
    </a>
</div>
