<div class="col-md-10 col-sm-9 col-xs-12">
    <p>(only where applicable - service specific)</p>
    <p>For a <strong>bank statement</strong> to be fully compliant as evidence of payment, it must:</p>
    <ul>
        <li>Be stamped 'paid' or 'received with thanks', with the supplier's company stamp.</li>
        <li>Be signed by an authorised accountable officer, such as a company secretary, director, partner or authorised signatory.</li>
        <li>Include the invoice number, payment value, payment date and method of payment.</li>
    </ul>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 evidence-img">
    <p class="bold margin-1b">
        Example:
    </p>
    <a class="margin-1t" href="">
        <img src="/sept-mvs/images/claim-evidence-examples/receipted_invoice.jpg" class="img-example" alt="Bank statement example">
    </a>
</div>
