<div class="col-md-10 col-sm-9 col-xs-12">
    <p>Only those costs agreed as eligible (as set out in Schedule 3 of your contract) can be claimed.</p>
    <p><strong>Online booking confirmations, receipts</strong> or <strong>tickets</strong> (for example, for travel,
        accommodation or car hire) must clearly show:</p>
    <ul>
        <li>The <strong>cost, destination</strong> or <strong>location</strong> and the <strong>dates</strong> of travel, stay or hire.</li>
        <li>The <strong>name</strong> of the passenger, guest or driver.</li>
    </ul>
    <p>All receipts, tickets and bookings must be accompanied by <strong>evidence of payment</strong> that clearly shows the amount of the
        transaction and the name of the payee.</p>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 evidence-img">
    <p class="bold margin-1b">
        Example:
    </p>
    <a class="margin-1t" href="">
        <img src="/sept-mvs/images/claim-evidence-examples/booking.jpg" class="img-example" alt="Booking example">
    </a>
</div>
<div class="col-md-12">
    <div class="info-note caution">Please note: foreign currency transactions must be converted into GBP for the specific payment date using the
        <a href="http://ec.europa.eu/budget/contracts_grants/info_contracts/inforeuro/inforeuro_en.cfm">European Commission Currency Converter</a> European Commission Currency Converter
    </div>
</div>