<div class="col-md-10 col-sm-9 col-xs-12">
    <p>Any transactions not relevant to your claim can be redacted (obscured or scored through).</p>
    <p>For a <strong>bank statement</strong> to be fully compliant as evidence of payment, it must:</p>
    <ul>
        <li>Be a <strong>formal statement</strong> (either paper copy or online printout), not simply a transaction listing</li>
        <li>Clearly show the <strong>bank name, address</strong> and <strong>logo</strong></li>
        <li>Clearly show the <strong>account holder's name</strong> and details</li>
        <li>Clearly show relevant transaction <strong>dates, amounts</strong> and <strong>payees</strong> that correspond to other evidence, such as invoices, salary payments or receipts.</li>
    </ul>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 evidence-img">
    <p class="bold margin-1b">
        Example:
    </p>
    <a class="margin-1t" href="">
        <img src="/sept-mvs/images/claim-evidence-examples/statement.jpg" class="img-example" alt="Bank statement example">
    </a>
</div>
