<div class="col-md-10 col-sm-9 col-xs-12">
    <p>For a <strong>cheque payment</strong> to be fully compliant, you must:</p>
    <ul>
        <li>Submit a photocopy or scan of the <strong>signed cheque</strong>, with the cheque number, payee's name and the amount clearly visible.</li>
        <li>Submit a corresponding <strong>bank statement</strong> showing the cheque number.</li>
    </ul>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 evidence-img">
    <p class="bold margin-1b">
        Example:
    </p>
    <a class="margin-1t" href="">
        <img src="/sept-mvs/images/claim-evidence-examples/cheque.jpg" class="img-example" alt="Company cheque example">
    </a>
</div>
