<div class="col-md-12">
    <div class="info-note note">For projects part-funded by the European Structural and Investment Funds (ESIF) Programme 2014-2020, you can only claim the
        salaries of staff who work 100% of their time on approved projects. Paragraph 3.3 of your contract will confirm if your project is ESIF funded or not.
    </div>
    <div class="info-note caution">Please note: you can only claim for gross/basic pay; other payments, such as commission or bonuses, cannot be included.</div>
</div>
<div class="col-md-10 col-sm-9 col-xs-12">
    <p>For <strong>each individual salary</strong> you claim, you must submit:</p>
    <ul>
        <li>An employee <strong>job description</strong>, plus a <strong>signed letter</strong> from an authorised accountable officer confirming that 100% of this employee's time was spent working on
            the project.
        </li>
        <li>Individual <strong>wage slips</strong>, or a <strong>company payroll listing</strong>, which must clearly show the cost breakdown of each individual salary being claimed.</li>
    </ul>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 evidence-img">
    <p class="bold margin-1b">
        Example:
    </p>
    <a class="margin-1t" href="">
        <img src="/sept-mvs/images/claim-evidence-examples/payslip.jpg" class="img-example" alt="Wage slip example">
    </a>
</div>
