<div class="col-md-10 col-sm-9 col-xs-12">
    <p>Invoices from a <strong>supplier</strong> or <strong>consultant</strong> must clearly show:</p>
    <ul>
        <li>The <strong>total cost</strong> of the product or service</li>
        <li>Any <strong>VAT</strong> element of the cost separately (VAT costs are ineligible and cannot be included in the claim)</li>
    </ul>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 evidence-img">
    <p class="bold margin-1b">
        Example:
    </p>
    <a class="margin-1t" href="">
        <img src="/sept-mvs/images/claim-evidence-examples/invoice.jpg" class="img-example" alt="Invoice example">
    </a>
</div>
