

<section class="card-view file-table">

    <div class="col-xs-12">

        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Period</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Filename</th>
                    <th>Value</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><i class="fa fa-check fa-1x fa-fw"></i></td>
                <td>Period 1: May 17</td>
                <td>Subcontracting charges</td>
                <td>Bank statement</td>
                <td>bank-01-may-17.pdf</td>
                <td>£1260</td>
                <td><a>Remove</a></td>
            </tr>
            <tr>
                <td><i class="fa fa-check fa-1x fa-fw"></i></td>
                <td>Period 1: May 17</td>
                <td>Overheads</td>
                <td>Bank statement</td>
                <td>bank-02-may-17.pdf</td>
                <td>£324</td>
                <td><a>Remove</a></td>
            </tr>
            <tr>
                <td><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></td>
                <td>Period 2: Jun 17</td>
                <td>Subcontracting charges</td>
                <td>Bank statement</td>
                <td>bank-01-jun-17.pdf</td>
                <td>£1260</td>
                <td><a>Remove</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
