<div class="col-md-10 col-sm-9 col-xs-12">
    <p>Corporate or personal credit card statements can be submitted.</p>
    <p>For a <strong>credit card statement</strong> to be fully compliant as evidence of payment, it must:</p>
    <ul>
        <li>Be a <strong>formal statement</strong> (either a paper copy or online print-out), not simply a transaction listing</li>
        <li>Clearly show the <strong>issuer's name, address</strong> and <strong>logo</strong></li>
        <li>Clearly show the <strong>account holder's name</strong> and details</li>
        <li>Clearly show relevant transaction <strong>dates, amounts</strong> and <strong>payees</strong> that correspond to other evidence, such as bookings, invoices or receipts.</li>
    </ul>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 evidence-img">
    <p class="bold margin-1b">
        Example:
    </p>
    <a class="margin-1t" href="">
        <img src="/sept-mvs/images/claim-evidence-examples/credit_card.jpg" class="img-example" alt="Credit card statement example">
    </a>
</div>
<div class="col-md-12">
    <div class="info-note caution">Please note: You must also submit a corresponding bank statement showing payment of the relevant credit card
        transactions, or wage slip/payroll information confirming payment of the transactions as expenses (along with a
        corresponding Bacs transaction list, if necessary).
    </div>
</div>

