<section class="card-view">

    <section class="key-wrapper panel">
        <h3>File status key</h3>
        <div class="key-status">
            <div class="key success">
                <i class="fa fa-check fa-1x fa-fw"></i>
                File added
            </div>
            <div class="key processing">
                <i class="fa fa-refresh fa-1x fa-fw"></i>
                Processing
            </div>
            <div class="key failed failed-upload">
                <i class="fa fa-times fa-1x fa-fw"></i>
                Failed upload
            </div>
            <div class="key failed failed-scan">
                <i class="fa fa-exclamation-circle fa-1x fa-fw"></i>
                Failed scan
            </div>
        </div>
    </section>
</section>