<footer>

    <div class="container">

        <div class="row">

            <div class="col-sm-3">
                <h3 class="text-center">Contact</h3>
                <ul class="clean-list text-center">
                    <li><a href="tel:01419513035">0 141 951 3035</a></li>
                    <li><a href="mailto:globalscot@scotent.co.uk">globalscot@scotent.co.uk</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h3 class="text-center">Connect</h3>
                <ul class="clean-list text-center">
                    <li><a href="https://www.linkedin.com/groups/globalscot-2240514/about">Connect with LinkedIn</a></li>
                    <li><a href="register.html">Register for GlobalScot</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h3 class="text-center">Our Partners</h3>
                <ul class="clean-list text-center">
                    <li><a href="http://www.scottish-enterprise.com" target="_blank">Scottish Enterprise</a></li>
                    <li><a href="http://www.sdi.co.uk" target="_blank">Scottish Development International</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h3 class="text-center">Useful Links</h3>
                <ul class="clean-list text-center">
                    <li><a href="accessibility.html">Accessibility</a></li>
                    <li><a href="cookie-policy.html">Cookie Policy</a></li>
                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                </ul>
            </div>



        </div>

        <hr>

    </div>

</footer>
