<footer>
    <div class="container">
    
    <div id="logo-block">
    
    <img src="/sept-mvs/images/footer/europe-scotland.png" alt="Europe Scotland" />
    <img src="/sept-mvs/images/footer/highlands-islands-enterprise.png"  alt="Highlands and Islands Enterprise"/>
    <img src="/sept-mvs/images/footer/scottish-development-international.png" alt="Scottish Development International" />
    <img src="/sept-mvs/images/footer/scottish-enterprise.png" alt="Scottish Enterprise" />
    
    </div>
    
    <nav class="navbar">
    <ul class="">
      <li><a href="">About this site</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Accessibility</a></li>
      <li><a href="">Cookies</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">Terms and conditions</a></li>
    </ul>
    </nav>
  </div>
</footer>
