<footer class="footer">
    <div class="container">

        <div id="logo-block">
            <img src="/sept-mvs/images/footer/scottish-enterprise.png" alt="Scottish Enterprise"/>
            <img src="/sept-mvs/images/footer/europe-scotland.png" alt="Europe Scotland"/>
            <img src="/sept-mvs/images/footer/highlands-islands-enterprise.png" alt="Highlands and Islands Enterprise"/>
            <img src="/sept-mvs/images/footer/scottish-development-international.png" alt="Scottish Development International"/>
        </div>

        <nav class="navbar">
            <ul class="">
                <!--<li><a href="">About this site</a></li>-->
                <!--<li><a href="">Contact</a></li>-->
                <li><a href="{{ base.url }}/sept-mvs/sept-mvs/accessibility.html">Accessibility</a></li>
                <li><a href="{{ base.url }}/sept-mvs/sept-mvs/cookies.html">Cookies</a></li>
                <li><a href="{{ base.url }}/sept-mvs/sept-mvs/privacy-policy.html">Privacy</a></li>
                <li><a href="{{ base.url }}/sept-mvs/sept-mvs/terms-and-conditions.html">Terms and conditions</a></li>
            </ul>
        </nav>

    </div>
</footer>


<div class="site-feedback">
    <a id="myLink" target="_blank" href="https://www.surveymonkey.co.uk/r/NF8SMMG?varPage=null.html">Can we improve this page?</a>
</div>

<div class="site-feedback-2">
    <a id="myLink2" target="_blank" href="https://www.surveymonkey.co.uk/r/NF8SMMG?varPage=null.html">Can we improve this page?</a>
</div>
<div class="site-feedback-3">
    <a id="myLink3" target="_blank" href="https://www.surveymonkey.co.uk/r/NF8SMMG?varPage=null.html">Feedback</a>
</div>

<script>
    var x = window.location.href;
    document.getElementById("myLink").href = "https://www.surveymonkey.co.uk/r/NF8SMMG?varPage="+encodeURIComponent(x);
</script>
