<section class="upload-container">
    <form class="claim-evidence-form">
        <section class="upload-wrapper">

            <div class="file-upload-list finance">
                <h3 class="description">
                    Add file(s)
                </h3>
                <div class="file-upload-wrapper empty new finance other">
                    <div class="form-file file-upload-inner col-md-10 col-sm-10 col-xs-12">
                        <div class="file-browse-wrapper">
                            <label>
                                <input type="file" style="display:none">
                                <span class="button button-primary">Browse</span>
                            </label>
                            <input required id="name-1r" class="filename" type="text" placeholder="File name">
                        </div>
                    </div>
                    <div class="upload-button-wrapper col-md-2 col-sm-2 col-xs-12">
                        <div class="upload-button button button-primary">Upload</div>
                    </div>
                </div>
            </div>

        </section>
    </form>
</section>

