
<section class="card-view upload-container">
    <form class="claim-evidence-form">
        <section class="upload-wrapper">
            <div class="file-upload-list">
                <div class="file-upload-wrapper empty new new-3">
                    <div class="form-file file-upload-inner col-md-6 col-sm-6 col-xs-12">
                        <label>
                            <input type="file" style="display:none">
                            <span class="button button-primary">Add a new file</span>
                        </label>
                    </div>
                    <div class="form-group relative file-amount-wrapper col-md-6 col-sm-6 col-xs-12">
                        <label class="sr-only" for="name-1">Amount</label>
                        <input required id="name-1" class="file-amount" type="text" placeholder="File amount">
                        <div class="descritpion">Enter the amount this file shows</div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>


