
<section class="card-view upload-container">
    <form class="claim-evidence-form">
        <section class="upload-wrapper">

            <div class="file-upload-list finance">
                <h4>Financial version - requires value entered</h4>
                <div class="file-upload-wrapper empty new finance">
                    <div class="form-file file-upload-inner col-md-7 col-sm-7 col-xs-12">
                        <div class="description">
                            Add a new file
                        </div>
                        <div class="file-browse-wrapper">
                            <label>
                                <input type="file" style="display:none">
                                <span class="button button-primary">Browse</span>
                            </label>
                            <input required id="name-1w" class="filename" type="text" placeholder="File name">
                        </div>
                    </div>
                    <div class="form-group relative file-amount-wrapper col-md-3 col-sm-3 col-xs-12">
                        <label class="sr-only" for="name-1">Amount</label>
                        <div class="description">
                            Total file value
                        </div>

                        <div class="file-amount-element">
                            <label>
                                <input type="file" style="display:none">
                                <span class="button button-primary">£</span>
                            </label>
                            <input required id="name-2w" class="file-amount" type="text" placeholder="File amount">
                        </div>
                    </div>
                    <div class="upload-button-wrapper col-md-2 col-sm-2 col-xs-12">
                        <div class="upload-button button button-primary">Upload</div>
                    </div>
                </div>
            </div>

            <div class="file-upload-list finance help">
                <h4>Financial version - requires value entered + file help text</h4>
                <div class="file-upload-wrapper empty new finance">
                    <div class="form-file file-upload-inner col-md-7 col-sm-7 col-xs-12">
                        <div class="description">
                            Add a new file
                        </div>
                        <div class="file-browse-wrapper">
                            <label>
                                <input type="file" style="display:none">
                                <span class="button button-primary">Browse</span>
                            </label>
                            <input required id="name-1e" class="filename" type="text" placeholder="File name">
                        </div>
                        <div class="file-upload-help-text">
                            Files must be less than 10MB<br />
                            Allowed types: pdf jpg jpeg gif png tiff
                        </div>
                    </div>
                    <div class="form-group relative file-amount-wrapper col-md-3 col-sm-3 col-xs-12">
                        <label class="sr-only" for="name-1">Amount</label>
                        <div class="description">
                            Total file value
                        </div>

                        <div class="file-amount-element">
                            <label>
                                <input type="file" style="display:none">
                                <span class="button button-primary">£</span>
                            </label>
                            <input required id="name-2" class="file-amount" type="text" placeholder="File amount">
                        </div>
                    </div>
                    <div class="upload-button-wrapper col-md-2 col-sm-2 col-xs-12">
                        <div class="upload-button button button-primary">Upload</div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="file-upload-list finance">
                <h4>Non-financial version</h4>
                <div class="file-upload-wrapper empty new finance other">
                    <div class="form-file file-upload-inner col-md-10 col-sm-10 col-xs-12">
                        <div class="description">
                            Add a new file
                        </div>
                        <div class="file-browse-wrapper">
                            <label>
                                <input type="file" style="display:none">
                                <span class="button button-primary">Browse</span>
                            </label>
                            <input required id="name-1r" class="filename" type="text" placeholder="File name">
                        </div>
                    </div>
                    <div class="upload-button-wrapper col-md-2 col-sm-2 col-xs-12">
                        <div class="upload-button button button-primary">Upload</div>
                    </div>
                </div>
            </div>

            <div class="file-upload-list finance">
                <h4>Non-financial version + description</h4>
                <div class="file-upload-wrapper empty new finance other-description">
                    <div class="form-file file-upload-inner col-md-10 col-sm-10 col-xs-12">
                        <div class="file-upload-element">
                            <div class="description">
                                Add a new file
                            </div>
                            <div class="file-browse-wrapper">
                                <label>
                                    <input type="file" style="display:none">
                                    <span class="button button-primary">Browse</span>
                                </label>
                                <input required id="name-1" class="filename" type="text" placeholder="File name">
                            </div>
                        </div>
                        <div class="file-description-element">
                            <div class="form-group relative file-description-wrapper">
                                <label class="sr-only" for="name-1">File description</label>
                                <div class="description">File description</div>
                                <input required id="name-4" class="file-description" type="text" placeholder="File description">
                            </div>
                        </div>
                    </div>
                    <div class="upload-button-wrapper col-md-2 col-sm-2 col-xs-12">
                        <div class="upload-button button button-primary">Upload</div>
                    </div>
                </div>
            </div>

        </section>
    </form>
</section>

