
<section class="card-view upload-container">
    <form class="claim-evidence-form">
        <section class="upload-wrapper">
            <div class="file-upload-list finance">
                <div class="file-upload-wrapper empty new finance">
                    <div class="form-file file-upload-inner col-md-8 col-sm-8 col-xs-12">
                        <div class="description">
                            Add a new file
                        </div>
                        <div class="file-browse-wrapper">
                            <label>
                                <input type="file" style="display:none">
                                <span class="button button-primary">Browse</span>
                            </label>
                            <input required id="name-1" class="filename" type="text" placeholder="File name">
                            <!--<div class="filename">myfilename-month-year-ref.pdf</div>-->
                        </div>
                    </div>
                    <div class="form-group relative file-amount-wrapper col-md-2 col-sm-2 col-xs-12">
                        <label class="sr-only" for="name-1">Amount</label>
                        <div class="description">Total file value</div>
                        <input required id="name-2" class="file-amount" type="text" placeholder="File amount">
                    </div>
                    <div class="upload-button-wrapper col-md-2 col-sm-2 col-xs-12">
                        <div class="upload-button button button-primary">Upload</div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>

