<section class="card-view upload-container complex">
    <form class="claim-evidence-form">
        <section class="upload-wrapper">
            <div class="upload-header">
                <h3 class="short">Start uploading here</h3>
            </div>
            <div class="file-upload-list finance help">
                <div class="file-upload-wrapper empty new finance">
                    <div class="row">
                        <div class="form-file file-upload-inner col-md-9 col-sm-9 col-xs-12">
                            <div class="description">
                                Add a new file
                            </div>
                            <div class="file-browse-wrapper">
                                <label>
                                    <input type="file" style="display:none">
                                    <span class="button button-primary">Browse</span>
                                </label>
                                <input required id="name-1e" class="filename" type="text" placeholder="File name">
                            </div>
                            <div class="file-upload-help-text">
                                Files must be less than 10MB<br />
                                Allowed types: pdf jpg jpeg gif png tiff
                            </div>
                        </div>
                        <div class="form-group relative file-amount-wrapper col-md-3 col-sm-3 col-xs-12">
                            <label class="sr-only" for="name-1">Amount</label>
                            <div class="description">
                                Total eligible value
                            </div>

                            <div class="file-amount-element">
                                <label>
                                    <input type="file" style="display:none">
                                    <span class="button button-primary">£</span>
                                </label>
                                <input required id="name-2" class="file-amount" type="text" placeholder="File amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="upload-select-wrapper col-md-3 col-sm-3 col-xs-12">
                            <label>Period</label>
                            <div class="select">
                                <select required id="period" class="create-select" title="Period">
                                    <option selected="" disabled="" value="">Select</option>
                                    <option value="01">Period 1: May 17</option>
                                    <option value="02">Period 2: Jun 17</option>
                                    <option value="03">Period 3: Jul 17</option>
                                    <option value="04">Period 4: Aug 17</option>
                                </select>
                            </div>
                        </div>
                        <div class="upload-select-wrapper col-md-4 col-sm-4 col-xs-12">
                            <label>Category</label>
                            <div class="select">
                                <select  required id="category" class="create-select" title="Category">
                                    <option selected="" disabled="" value="">Select</option>
                                    <option value="01">Payment of personnel</option>
                                    <option value="02">Overheas</option>
                                    <option value="03">Subcontracting charges</option>
                                    <option value="04">Trials and testing</option>
                                    <option value="05">Accountants fees</option>
                                </select>
                            </div>
                        </div>
                        <div class="upload-select-wrapper col-md-3 col-sm-3 col-xs-12">
                            <label>Evidence type</label>
                            <div class="select">
                                <select  required id="type" class="create-select" title="Type">
                                    <option selected="" disabled="" value="">Select</option>
                                    <option value="01">Bank statement</option>
                                    <option value="02">Bacs statement</option>
                                    <option value="03">Payslip</option>
                                    <option value="04">Invoice</option>
                                </select>
                            </div>
                        </div>
                        <div class="upload-button-wrapper col-md-2 col-sm-2 col-xs-12">
                            <div class="upload-button button button-primary">Upload</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </form>
</section>


