<section class="card-view upload-container">
    <form class="claim-evidence-form">
        <section class="upload-wrapper">
            <div class="file-upload-list">
                <div class="file-upload-wrapper empty">
                    <div class="form-file file-upload-inner">
                        <label for="fileupload" id="buttonlabel">
                            <span role="button" aria-controls="filename" tabindex="0">
                            Add a new file
                            </span>
                        </label>
                        <input type="file" id="fileupload">
                        <label for="fileupload" class="hide">
                            uploaded file
                        </label>
                        <input type="text" id="filename" autocomplete="off" readonly placeholder="no file uploaded">
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>

