// ==========================================================================
// SE Custom styles for buttons and links
// ==========================================================================

@mixin button($bg-col, $col, $hov-bg-col, $hov-col) {
    align-items: flex-start;
    background: $bg-col;
    border: 0;
    color: $col;
    cursor: pointer;
    display: table;
    font-size: 1.063em;
    line-height: 1.500em;
    font-weight: 300!important;
    height: auto!important;
    width: auto!important;
    padding: 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-bottom : 15px;
    &:hover {
        background: $hov-bg-col;
        color: $hov-col;
        cursor: pointer;
        -webkit-box-shadow: inset 0 0 0 3px $hov-col;
        -moz-box-shadow: inset 0 0 0 3px $hov-col;
        box-shadow: inset 0 0 0 3px $hov-col;
    }
    &:active,
    &:focus:not(:hover) {
        color: $col;
    }
    @include transition(background-color 0.5s, color 0.5s, -webkit-box-shadow 0.5s, -moz-box-shadow 0.5s, box-shadow 0.5s);
    &.disabled {
        background-color: $se-body-grey;
        &:hover {
            cursor: not-allowed !important;
        }
    }
    &.inline {
        padding: 1em;
        position: relative;
        top: -2px;
        display: inline-block;
    }
    @media all and (min-width: 1200px){
        width: 360px;
    }
    @media all and (min-width: 992px){
        width: 293px;
    }
    @media all and (min-width: 768px){
        width: 344px;
    }
    @media screen and (max-width: $screen-xs-min) {
        width: 100% !important;
        margin-right: 0 !important;
    }
}

.button {
    &.button-primary {
        &.inverse {
            background-color: $se-white;
            color: $se-blue;
            margin: 2px 0;
            padding: 0.5em 1em;
            &:hover {
                background-color: $se-yellow;
                border: none;
                -webkit-box-shadow:inset 0 0 0 3px $se-yellow;
                -moz-box-shadow:inset 0 0 0 3px $se-yellow;
            }
            &:active {
                color:$se-primary-color!important;
            }
            &:focus {
                color: $se-yellow;
            }
        }
        &.temp {
            background-color: $se-amber;
        }
    }
}

.button {
    &.button-back {
        background: none;
        color: $se-blue;
        padding-left: 0;
        height: auto;
        border: 3px solid transparent;
        font-weight: 300;
        text-transform: none;
        margin-bottom: 20px;
        display: inline-block;
        &:before {
            content:'\f053';
            font-family: FontAwesome;
            padding: 0 10px 0 0;
            position: relative;
            top: 1px;
        }
        @media all and (max-width: $screen-xxs-max) {
            text-align: left;
        }
        &.temp {
            color: $se-amber;
        }
        &:hover {
            color: $se-light-blue;
        }
        &:focus {
            color: $se-light-blue;
            background: $se-amber;
            outline: 3px solid $se-amber;
        }
        &:active {
            outline: 3px solid $se-amber;
        }
        &:focus {
            background: $se-amber;
            border: 3px solid $se-amber;
        }
        @media all and (min-width: 1200px){
            width: auto!important;
        }
        @media all and (min-width: 992px){
            width: auto!important;
        }
        @media all and (min-width: 768px){
            width: auto!important;
        }
        @media screen and (max-width: $screen-xs-min) {
            width: 100% !important;
            margin-right: 0 !important;
        }
    }
}

//TODO: check if used in dev
.button.section-complete-button,
.button.section-save-button {
    padding: 10px 1em;
    font-family: din-regularregular, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-size: 1.125em;
    line-height: normal;
    margin-left: 18px;
    color: $se-white;
    float: right;
    font-weight: 500;
    text-transform: none;
    height: auto!important;
    width: auto!important;
    @include border-radius(3px);
}

.button.section-complete-button {
    background-color: $se-blue;
    &:before {
        content: '\f00c';
        font-family: FontAwesome;
        padding-right: 9px;
    }
    &:hover {
        background-color: $se-black;
    }
}

.button.section-save-button {
    background-color: $se-blue-sec;
    &:before {
        content: '\f0c7';
        font-family: FontAwesome;
        padding-right: 13px;
    }
    &:hover {
        background-color: $se-black;
    }
}


// Overrides for Scot Gov styling //
article a[href^="//"]:not(.button),
article a[href^="http://"]:not(.button),
article a[href^="https://"]:not(.button) {
    background-image: none;
}

article a[href^="//"]:hover:not(.button),
article a[href^="//"]:active:not(.button),
article a[href^="http://"]:hover:not(.button),
article a[href^="http://"]:active:not(.button),
article a[href^="https://"]:hover:not(.button),
article a[href^="https://"]:active:not(.button) {
    background-image: none;
}

input[type="button"],
input[type="submit"] {
    padding: 1em 40px;
}

.page-loading {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
}

.button.loading {
    padding: 1em 50px 1em 30px;
    &:hover {
        cursor: not-allowed !important;
    }
}

.page-loading .loader {
    margin: 0 auto;
    font-size: 1.25em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10000;
}

.button .loader {
    margin: 0;
    font-size: 0.25em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 27px;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    @media all and (max-width: $screen-xs-min) {
        right: 10%;
    }
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}

@mixin button-primary() {
    @include button($se-blue, $se-white, $se-white, $se-blue);
}

@mixin button-secondary() {
    @include button($se-light-blue, $se-white, $se-white, $se-light-blue);
}

@mixin button-tertiary() {
    @include button(transparent, $se-blue, transparent, $se-light-blue);
    padding: 0.5em 0;
    border: 3px solid transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    &:active {
        outline: 3px solid $se-amber;
    }
    &:focus {
        background: $se-amber;
        border: 3px solid $se-amber;
        outline: 3px solid $se-amber;
    }
}

.button-primary {
    @include button-primary();
}
.button-secondary {
    @include button-secondary();
}
.button-tertiary {
    @include button-tertiary();
}