
/* ==========================================================================
   SE Custom styles for buttons and links 
   ========================================================================== */


.button {
    line-height: 1.5;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.button.secondary {
    line-height: 56px;
}

a.button {
  width: auto!important;
}

input.button {
  line-height: 70px;
}
