
/* ==========================================================================
   SE Custom styles for card layouts 
   ========================================================================== */


.card {
  padding: 1em 1em 3em 1em;
  margin-bottom: 1em;
  background-color: $grey-bg;
  position: relative;
  
  a {
    display: block;
    position: absolute;
    bottom: 1em;
  }
}