
/* ==========================================================================
   File upload styling
   ========================================================================== */

.file-upload-list {
    .file-upload-wrapper {
        padding: 10px 0;
        border-top: 1px solid $se-grey;
        &:last-of-type {
            border-bottom: 1px solid $se-grey;
            margin-bottom: 20px;
        }
        .file-status {
            &:before {
                font-family: FontAwesome;
                content: "\f111";
                padding: 0 10px 0 0;
            }
            &.green {
                color: $se-bright-green;
            }
            &.amber {
                color: $se-amber;
            }
            &.red {
                color: $se-red;
            }
        }
        .file-name {

        }
        .file-remove {
            float: right;
        }
        &.empty {
            color: $se-mid-grey;
        }
    }
}

.key-status {
    .key {
        display: inline-block;
        margin-right: 20px;
        &:before {
            font-family: FontAwesome;
            content: "\f111";
            padding: 0 5px 0 0;
        }
        &.green:before {
            color: $se-bright-green;
        }
        &.amber:before  {
            color: $se-amber;
        }
        &.red:before  {
            color: $se-red;
        }
    }
}


