
/* ==========================================================================
   File upload styling
   ========================================================================== */

.file-upload-list {
    .file-upload-wrapper {
        padding: 10px 0;
        border-top: 1px solid $se-grey;
        position: relative;
        &:last-of-type {
            border-bottom: 1px solid $se-grey;
            margin-bottom: 20px;
        }
        .file-name {
            display: inline;
            width: calc(100% - 70px);
        }
        .file-remove {
            position: absolute;
            right: 0;
            top: 10px;
        }
        &.empty {
            color: $se-mid-grey;
        }
        &.failed {
            .failed-text {
                color: $se-red;
                display: block;
                padding-left: 35px;
            }
        }
    }
}

.key-status {
    .key {
        display: inline-block;
        margin-right: 20px;
    }
}

.file-status {
    &:before {
        font-family: FontAwesome;
        padding: 0 10px 0 0;
    }
}
.success {
    .fa {
        margin-right: 10px;
        color: $se-bright-green;
    }
    .file-status {
        &:before {
            color: $se-bright-green;
            content: "\f00c";
        }
    }
}
.processing {
    .fa {
        margin-right: 10px;
        color: $se-amber;
    }
    .file-status {
        &:before {
            color: $se-amber;
            content: "\f021";
        }
    }
}
.failed {
    .fa {
        margin-right: 10px;
        color: $se-red;
    }
    .file-status {
        &:before {
            color: $se-red;
            content: "\f06a";
        }
    }
}



