
/* ==========================================================================
   Fonts
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.438em;
    font-weight: normal;
    -­webkit­font­smoothing: antialiased;
    @media all and (max-width: $screen-xxs-max) {
        font-size: 15px;
        line-height: 21px;
    }
}

// Reference Din fonts for headings //

@font-face {
    font-family: 'din-blackregular';
    src: url('/sept-mvs/assets/fonts/Din/din-blac-webfont.eot');
    src: url('/sept-mvs/assets/fonts/Din/din-blac-webfont.eot?#iefix') format('embedded-opentype'),
        url('/sept-mvs/assets/fonts/Din/din-blac-webfont.woff') format('woff'),
        url('/sept-mvs/assets/fonts/Din/din-blac-webfont.ttf') format('truetype'),
        url('/sept-mvs/assets/fonts/Din/din-blac-webfont.svg#din-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-boldregular';
    src: url('/sept-mvs/assets/fonts/Din/din-bold-webfont.eot');
    src: url('/sept-mvs/assets/fonts/Din/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/sept-mvs/assets/fonts/Din/din-bold-webfont.woff') format('woff'),
        url('/sept-mvs/assets/fonts/Din/din-bold-webfont.ttf') format('truetype'),
        url('/sept-mvs/assets/fonts/Din/din-bold-webfont.svg#din-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-lightregular';
    src: url('/sept-mvs/assets/fonts/Din/din-ligh-webfont.eot');
    src: url('/sept-mvs/assets/fonts/Din/din-ligh-webfont.eot?#iefix') format('embedded-opentype'),
        url('/sept-mvs/assets/fonts/Din/din-ligh-webfont.woff') format('woff'),
        url('/sept-mvs/assets/fonts/Din/din-ligh-webfont.ttf') format('truetype'),
        url('/sept-mvs/assets/fonts/Din/din-ligh-webfont.svg#din-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-mediumregular';
    src: url('/sept-mvs/assets/fonts/Din/din-medi-webfont.eot');
    src: url('/sept-mvs/assets/fonts/Din/din-medi-webfont.eot?#iefix') format('embedded-opentype'),
        url('/sept-mvs/assets/fonts/Din/din-medi-webfont.woff') format('woff'),
        url('/sept-mvs/assets/fonts/Din/din-medi-webfont.ttf') format('truetype'),
        url('/sept-mvs/assets/fonts/Din/din-medi-webfont.svg#din-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-regularregular';
    src: url('/sept-mvs/assets/fonts/Din/din-regu-webfont.eot');
    src: url('/sept-mvs/assets/fonts/Din/din-regu-webfont.eot?#iefix') format('embedded-opentype'),
        url('/sept-mvs/assets/fonts/Din/din-regu-webfont.woff') format('woff'),
        url('/sept-mvs/assets/fonts/Din/din-regu-webfont.ttf') format('truetype'),
        url('/sept-mvs/assets/fonts/Din/din-regu-webfont.svg#din-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// In IE there is a bug which means the uploaded file status icon
// doesn't get 're-drawn' and therefore when it changes to a
// 'check' (tick) it keeps spinning.
// This is the fix

.fa {
    width: 20px;
    &:not(.fa-spin) {
        animation: none;
    }
}

.phone.mobile {
    i.fa-mobile {
        font-size: 24px;
        top: 1px;
        position: relative;
    }
}

