@import 'variables.scss';

/* ==========================================================================
   SE Custom styles for forms 
   ========================================================================== */

input[type=text],
input[type=password],
input[type=email] {
    margin-top: 7px;
    font-size: 16px;
    height: 42px;
    border: 1px solid #727272;
    border-radius: 0px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    width: 1px;
    font-size: 40px;
    margin: 0 0 0 10px;
}

div.relative input.fancy-checkbox, div.relative input.fancy-radio {
    position: absolute;
}

label {
    margin-bottom: 7px;
    font-family: din-mediumregular;
    @media all and (max-width: $screen-xxs-max) {
        font-size: 16px;
    }
}

label.fancy-checkbox, label.fancy-radio {
    white-space: normal;
    @media all and (max-width: $screen-xxs-max) {
        margin-top: 0;
    }
}

// This doesn't work when we have multiple on one line..
// So - added rule //
// May need responsive update //
label.inline {
    margin-right: 0;
    &:not(:last-of-type) {
        margin-right: 30px;
    }
}

.form-group {
    padding: 0 20px 0 20px;;
}

.form-group:first-of-type {
    margin-top: 28px;
}

.form-group-error {
    border-left: $error-red 5px solid;
    padding-left: 15px;
    label {
        color: $error-red;
    }
}

.error-summary {
    border: 5px solid $error-red;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 15px 10px;
    h2, a {
        color: $error-red;
        margin-top: 0;
    }

    ul {
        margin: 0;
        li {
            list-style: none;
        }
    }

}

form h2 {
    margin-top: inherit;
}

tr:first-child td:first-child {
    padding: 8px;
}

td, thead + tbody tr:first-child td {
    border-bottom: 1px solid #ebebeb;
    padding: 8px;
    vertical-align: top;
}

.input-wrapper label {
    display: inline-block;
    font-weight: normal;
    margin-right: 30px;
    line-height: 22px;
}

.input-small {
    width: 100%;
    @media all and (min-width: 480px) {
        width: 41.6666%;
    }
    @media all and (min-width: 768px) {
        width: 40%;
    }
    @media all and (min-width: 992px) {
        Width: 37.5%;
    }
}

.input-medium {
    width: 100%;
    @media all and (min-width: 480px) {
        width: 50%;
    }
}

.input-large {
    width: 100%;
}
