@import 'variables.scss';

/* ==========================================================================
   SE Custom styles for forms 
   ========================================================================== */

input[type=text],
input[type=password],
input[type=email] {
    margin-top: 7px;
    font-size: 16px;
    height: 42px;
    border: 1px solid #727272;
    border-radius:0px; 
}

div.relative input.fancy-checkbox, div.relative input.fancy-radio {
  position: absolute;
}

label.fancy-checkbox, label.fancy-radio {
  white-space: normal;
}


label.inline {
  margin-right: 0;
}

.form-group {
  padding: 0 20px 0 20px;;
}

.form-group:first-of-type {
  margin-top: 28px;
}

.form-group-error {
  border-left: $error-red 5px solid;
  padding-left: 15px;
  label {
    color: $error-red;
  }
}

.error-summary {
    border: 5px solid $error-red;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 15px 10px;  
    h2, a {
    color: $error-red;
    margin: 0;
  }
}