/* ==========================================================================
   Global Scot Custom styles
========================================================================== */

body.globalscot {
    
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    
    p {
        text-align: justify;
    }
    
}
