//variables we will move to variables.scss
$nav-height: 50px;
$main-font: 'Roboto', sans-serif;


html, body {
    height: 100% - calc($nav-height);
}

body.globalscot {
    font-family: $main-font;
}



.button-secondary{
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 40px;
}
