
/* ==========================================================================
   SE Custom styles for misceleaneous elements 
   ========================================================================== */



.margin-1tb {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin-2tb {
  margin-top: 2em;
  margin-bottom: 2em;
}

.block {
  display: block;
}

.margin-1{
    margin: 1em 1em 1em 1em;
}

.margin-1r{
    margin-right: 1em;
}

.padding-1{
    padding: 1em 1em 1em 1em;    
}

@media (max-width: 768px) {
    .banner .pull-right {
        float: none !important;
    }
}


.clean-list{
    list-style: none;
    margin-left:1em;
}

.disclaimer{
    font-size: 14px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-bold{
    font-weight: 500;
}


.info-note.note:before {
  background-image: url(../images/icons/note_@2x.png);
}
