
/* ==========================================================================
   SE Custom styles for images 
   ========================================================================== */


.margin-1-t-b {
  margin-top: 2em;
  margin-bottom: 2em;
}

.block {
  display: block;
}