@import 'variables.scss';

// ==========================================================================
// SE Custom styles for misceleaneous elements
// ==========================================================================

.margin-1tb {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-1t {
    margin-top: 1em;
}

.margin-1b {
    margin-bottom: 1em;
}

.margin-2tb {
    margin-top: 2em;
    margin-bottom: 2em;
}

.margin-2t {
    margin-top: 2em;
}

.margin-2b {
    margin-bottom: 2em;
}

.margin-3t{
    margin-top:3em;
}

.margin-3b{
    margin-bottom:3em;
}

.margin-4b{
    margin-bottom:4em;
}

.block {
    display: block;
}

.margin-1 {
    margin: 1em 1em 1em 1em;
}

.margin-1r {
    margin-right: 1em;
}

.margin-0{
    margin: 0!important;
}

.margin-0t{
    margin-top:0!important;
}

.padding-0{
    padding:0!important;
}

//list styling
.clean-list {
    list-style: none;
    margin-left: 1em;
}

.disclaimer {
    font-size: 14px;
}

//breadcrumbs
ol.breadcrumb {
    margin-left: 0;
    padding: 8px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
}

//hide text from AT
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.text-bold {
    font-weight: 500;
}

.img-example{
    height: 100%;
    background-color: gray;
    display:block;
    margin: 0 0 10px 0;
    border: 1px solid $se-lighter-grey;

}

.bold{
    font-weight: bold;
}

.leader-m{
    font-size: 25px;
    line-height: 34px;
    font-weight: 300;
    margin: 20px 0 10px 0;
    word-wrap: break-word;
}

hr{
    border-bottom-color: $se-light-mid-grey;
}

.text-small{
    font-size:0.8em;
}

#help{
    @media all and (max-width: 991px) {
        margin-top: 50px;
    }
}
