// ==========================================================================
// Mixins
// ==========================================================================

@mixin Opacity($value) {
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}
// Usage ..
//  @include Opacity(0);
//


// This accepts multiple args //
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
// Usage ..
// @include transition(background-color 0.5s, color 0.5s);
//


@mixin unselectable() {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


// Sets the border radius for all 4 corners
// The site uses no border-radius so this is
// used to override any browser defaults.
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box; /* stops bg color from leaking outside the border: */
}
// Usage ..
// @include border-radius(0);
//


// HR //
@mixin hr($color, $height) {
    background-color: $color;
    color: $color;
    height: $height;
    border: none;
    padding-bottom: 0;
}

// Rotate text by the chosen amount
@mixin rotate-text($val) {
    -ms-transform: rotate($val); /* IE 9 */
    -webkit-transform: rotate($val); /* Chrome, Safari, Opera */
    transform: rotate($val);
}
// Usage ..
// @include rotate-text(-90deg);
//


// Create a box / drop shadow on the element
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}
// Usage ..
// @include box-shadow(0, 0, 9px, #999999);
//

// Override default progress-bar colours which are
// browser specific.
@mixin progress-bar($fill-color, $background-color) {
    //progress::-moz-progress-bar { background: $color; }
    //progress::-webkit-progress-value { background: $color; }
    //progress { color: $color; }



    //WebKit / Blink

    //background-color

        progress::-webkit-progress-bar {background-color: $background-color; width: 100%;}

    //color

        progress::-webkit-progress-value {background-color: $fill-color !important;}

    //Gecko / Firefox

    //background-color

        progress {background-color: $background-color;}

    //color

        progress::-moz-progress-bar {background-color: $fill-color !important;}

    //Trident / Internet Explorer (and "Edge")

    //background-color

        progress {background-color: $background-color;}

    //color

        progress {color: $fill-color;}

}

@mixin bg-grad($left-color, $right-color) {
    background: $left-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $left-color, $right-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $left-color, $right-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $left-color, $right-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $left-color, $right-color); /* Standard syntax */
}




