// ==========================================================================
// SE Custom styles for navbar
// ==========================================================================

.navbar {
    border-bottom: 1px solid #ebebeb;
    background: white;
    margin-bottom: 20px;
    .navbar-brand {
        height: auto;
    }

    .navbar-header {
        display: inline;
    }
    .welcome {
        display: inline;
        float: right;
        text-align: right;
        padding: 27px 15px 20px;
        @media all and (max-width: $screen-xs-max) {
            display: none;
        }
    }
    #navbar {

        @media all and (min-width: $screen-xs-max) {

            display: inline;
            width: inherit;
        }
        .navbar-nav {
            margin-left: 10px;
            li {
                padding-top: 0;
                & > a {
                    padding: 15px;
                    line-height: 46px;
                    text-decoration: none;
                    &:hover {
                        background-color: $se-light-grey;
                    }
                    &.disabled:hover {
                        background-color: transparent;
                        cursor: default;
                    }
                }
            }
        }
    }



    .navbar-toggle {
        border-color: #ddd;
        .icon-bar {
            background-color: #888;
        }
    }
}

@media (max-width: 768px) {

    .navbar {
        .navbar-brand {
            padding: 0.5em;
            max-width: 230px;
            width: 100%;
            & > img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        .navbar-nav li {
            & > a {
                padding: 5px 10px;
                line-height: auto;
            }
        }
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {

    .navbar {
        .navbar-brand {
            max-width: 260px;
            height: auto;
            & > img {
                display: block;
                width: auto;
            }
        }
    }
}
