/* ==========================================================================
   SE Custom styles for navbar
   ========================================================================== */

.navbar {
  border-bottom: 1px solid #ebebeb;
  background: white;

  .navbar-brand {
    height: auto;
  }

  .navbar-nav li {
    padding-top: 0;
    & > a {
      padding: 15px;
      line-height: 46px;
      text-decoration: none;
    }
  }

  .navbar-toggle {
    border-color: #ddd;
    .icon-bar {
      background-color: #888;
    }
  }
}

@media (max-width: 768px) {

  .navbar {
    .navbar-brand {
      padding: 0.5em;
      max-width: 230px;
      & > img {
        display: block;
        height: 100%;
        //width: auto;
      }
    }

    .navbar-nav li {
      & > a {
        padding: 5px 10px;
        line-height: auto;
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {

  .navbar {
    .navbar-brand {
        max-width: 260px;
        height: auto;
          & > img {
            display: block;
            width: auto;
          }
    }
  }
}


