// ==========================================================================
// SE Custom styles for navbar
// ==========================================================================




header {
    margin-bottom: 0;
    &.site-header {
        //height: 80px;
    }
}


header nav.navbar {
    border-bottom: 1px solid $se-light-grey;
    background: white;
    margin-bottom: 0;
    border-width: 0 0 1px 0;
    @include border-radius(0);
    //height: 80px;
    &.fixed {
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        right: 0;
        @include box-shadow( 0, 0, 9px, $se-mid-grey)
    }

    .navbar-brand {
        float: left;
        padding: 12px 15px;
        font-size: 18px;
        line-height: 20px;
        height: auto;
    }

    .navbar-header {
        display: inline;
    }
    .welcome {
        display: inline;
        float: right;
        text-align: right;
        padding: 27px 15px 20px;
        @media all and (max-width: $screen-xs-max) {
            display: none;
        }
    }
    #navbar {

        @media all and (min-width: $screen-xs-max) {

            display: inline;
            width: inherit;
        }
        .navbar-nav {
            margin: 0 0 0 10px;
            li {
                padding-top: 0;
                & > a {
                    padding: 15px;
                    line-height: 46px;
                    text-decoration: none;
                    &:hover {
                        background-color: $se-light-grey;
                        text-decoration: underline;
                    }
                    &.disabled:hover {
                        background-color: transparent;
                        cursor: default;
                    }
                }
            }
        }
    }



    .navbar-toggle {
        border-color: $se-lighter-grey;
        margin-right: 0;
        .icon-bar {
            background-color: $se-lighter-grey;
        }
    }
}

@media (max-width: 768px) {

    header .navbar {
        .navbar-brand {
            padding: 0.5em;
            max-width: 230px;
            width: 100%;
            & > img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        .navbar-nav li {
            & > a {
                padding: 5px 10px;
                line-height: auto;
            }
        }
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {

    .navbar {
        .navbar-brand {
            max-width: 260px;
            height: auto;
            & > img {
                display: block;
                width: auto;
            }
        }
    }
}

