@import 'mixins.scss';
@import 'variables.scss';

// ==========================================================================
// SE dot com Custom styles
// ==========================================================================

body {
    margin-bottom: 0;
    .error {
        text-align: center;
    }
}

#main {
    padding-bottom: 50px;
}

a {
    color: $se-blue;
    @include transition(color 0.5s, text-decoration 0.5s);
    &:hover {
        color: $se-light-blue;
        @include transition(color 0.5s, text-decoration 0.5s);
    }
}

footer {
    padding-top: 3em;
    border-top: $grey-borders 1px solid;
    text-align: center;
    .navbar {
        margin: 2em 0;
        border-bottom: none;
        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 1em;
            }
        }
    }
}

.site-feedback {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    a {
        color: $se-white;
        background-color: $se-blue;
        padding: 8px 15px;
        text-decoration: none;
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}

.inline {
    display: inline;
    &:not(:last-of-type) {
        margin-right: 30px;
    }
}

#logo-block {
    margin-left: -1em;
}

@media (max-width: 992px) {
    footer {
        text-align: center;
        #logo-block {
            text-align: center;
            margin-left: 0;
            img {
                max-width: 25%;

            }
        }
    }
}

@media (max-width: 786px) {
    footer {
        #logo-block {
            img {
                max-width: 45%;
            }
        }
    }
}

ul.evidence-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
}
