@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

$se-stepper-gray:#707070;
$up-to-steps: 10; // IMPORTANT: Assumes no more than 10 steps in stepper

.stepper {
  // temporary until remove HTML elements
  .stepper-circle,
  .stepper-line {
    display: none;
  }

  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    padding: 0;
    z-index: 1;
    display: inline-block;
    width: 100% / $up-to-steps;
    @media screen and (min-width: 992px) {
      width: 100%;
      height: 10vh;
      min-height: 3em;
      max-height: 6em;
    }
    // numbered circle
    @for $i from 1 through $up-to-steps {
      &:nth-child(#{$i}) {
        &:before {
          content: "#{$i}";
        }
      }
    }
    &:before {
      background: #fff;
      height: 2em;
      width: 2em;
      line-height: 1.9em;
      border: 2px solid;
      border-radius: 50%;
      text-align: center;
      color:$se-stepper-gray;
      display: inline-block;
    }
    @media screen and (min-width: 992px) {
      &:before {
        margin-right: 0.5em;
      }
    }
    .stepper-title {
      display: inline-block;
      @media screen and (max-width: 991px) {
        @include sr-only();
      }
    }
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 2px;
      top: 1em;
      left: 1em;
      margin-left: -1.5px;
      background: $se-stepper-gray;
      @media screen and (min-width: 992px) {
        top: 1em;
        width: 2px;
        height: 100%;
        margin-left: -1px;
      }
    }
    &:last-child {
      width: auto;
      &:after {
        content: none;
      }
    }
    // active states
    &.step-active {
      &:before {
        color: #fff;
        border-color: $se-blue;
        background: $se-blue;
      }
      .stepper-title {
        color: black;
        font-weight:bold;
        font-size:1.125em;
        line-height:normal;
      }
    }
    &.step-completed {
      &:before {
        color:$se-blue;
        border-color:$se-blue;
      }
      &:after {
        background: $se-blue;
      }
    }
  }
  @supports (display: flex) {
    display: flex;
    justify-content: space-between;
    li {
      width: 100%;
    }
    @media screen and (min-width: 992px) {
      display: block;
    }
  }
}

/* Current label on mid-size screens? */
@media screen and (min-width: 480px) and (max-width: 991px) {
  .stepper {
    overflow: hidden;
    padding-bottom: 3em;
    li.step-active {
      .stepper-title {
          overflow: visible;
          width: auto;
          height: auto;
          margin: 0;
          width: calc(50vw - 30px);
          top: 2.75em;
          left: 0;
          clip: auto;
          font-size: 1em;
      }
      &:nth-child(1n+2) {
        .stepper-title {
          margin-left: calc(-25vw + 30px);
          text-align: center;
        }
      }
      &:last-child {
        .stepper-title {
          text-align: right;
          left: auto;
          right: 0;
          margin: 0;
        }
      }
    }
  }
}
