// ==========================================================================
// SE Custom styles for tables
// ==========================================================================



table.table-striped tbody tr {
    &:first-child td:first-child {
        //padding: 0;
    }
    &:first-child td:last-child {
        //padding-right: 0;
    }

    td {
        //padding: 0;
        a {
            display: block;
            color: #256691;
            //padding: 8px;
        }

    }
    thead + tbody tr:nth-child(2n-1) td {
        background: $se-light-grey;
    }
    &:hover td {
        background: $se-grey-hover !important;
    }
}

table.table-striped:not(.active) tbody tr {
    &:hover td {
        background: $se-grey-hover !important;
    }
}

table.plain {
    margin: 0;
    color: $se-dark-grey;
    tr:first-child td:first-child {
        padding: 8px 15px 8px 0;
        @media all and (max-width: $screen-sm-max) {
            padding: 8px 8px 8px 0;
        }
    }
    tr:first-child td, th {
        border-bottom: 1px solid $se-mid-grey;
        font-weight: 700;
        padding: 8px 15px 8px 0;
        text-align: left;
        vertical-align: top;
    }
    tr:first-child td:not(:first-child) {
        padding-left: 8px;
    }
    tr td {
        background: none;
        border-bottom: 1px solid $se-mid-grey;
        font-weight: 700;
        &:not(:first-child) {
            font-weight: normal;
        }
    }
    tr {
        &:hover {
            background: none;
        }
    }
    thead + tbody tr:nth-child(2n-1) td {
        background: none;
    }
    tr > :first-child {
        padding-left: 0;
    }
}

td.title {
    font-size: 19px;
}

tr:first-child td:first-child {
    padding: 8px;
}

td, thead + tbody tr:first-child td {
    border-bottom: 1px solid #ebebeb;
    padding: 8px;
    vertical-align: top;
}

// any table following an h2
h2 ~ table {
    margin-top: 0;
}

table.table-striped.no-hover th.center {
    text-align: center;
}
table.table-striped.no-hover tbody tr {
    &:hover td {
        background: none !important;
    }
    &.status td {
        line-height: 1em;
        progress {
            color: pink !important;
        }
    }
    td.has-link {
        text-align: center;
        a {
            background-color: $se-blue;
            color: $se-white;
            padding: 8px 0;
            @include border-radius(8px);
        }

    }
    &.status-due td.has-link a {
        background-color: $se-dark-green !important;
        &:hover {
            background-color: $se-black !important;
        }
    }
    &.status-started td.has-link a {
        background-color: $se-dark-green !important;
        &:hover {
            background-color: $se-black !important;
        }
    }
    &.status-claimed td.has-link a {
        background-color: $se-blue !important;
        &:hover {
            background-color: $se-black !important;
        }
    }





    progress {
        color: #552200;
        font-size: 1px;
        line-height: 9px;
        width: 100%;
        padding: 0 1px 0 0;
        height: 7px;
        border: 1px solid $se-grey;
        background: #fff;
    }





    td.status-active progress {
        color: $se-grey;
    }
    td.status-due progress {
        color: $se-amber;
    }
    &.status-started .progress-bar {
        color: $se-amber;
    }
    td.status-claimed progress {
        color: $se-bright-green;
    }




}
