
/* ==========================================================================
   SE Custom styles for tables
   ========================================================================== */



table.table-striped tbody tr {
    &:first-child td:first-child {
        //padding: 0;
    }
    &:first-child td:last-child {
        //padding-right: 0;
    }

    td {
        //padding: 0;
        a {
            display: block;
            //padding: 8px;
        }
    }
    thead + tbody tr:nth-child(2n-1) td {
        background: $se-light-grey;
    }
    &:hover td {
        background: $se-light-mid-grey !important;
    }
}



table.plain {
    margin: 0;
    tr:first-child td:first-child {
        padding: 8px 15px;
    }
    tr:first-child td, th {
        border-bottom: 1px solid $se-mid-grey;
        font-weight: 700;
        padding: 8px 15px;
        text-align: left;
        vertical-align: top;
    }
    tr:first-child td:not(:first-child) {
        padding-left: 8px;
    }
    tr td {
        background: none;
        border-bottom: 1px solid $se-mid-grey;
        font-weight: 700;
        &:not(:first-child) {
            font-weight: 300;
        }
    }
    tr {
        &:hover {
            background: none;
        }
    }
}