// ==========================================================================
// SE Custom styles for tables
// ==========================================================================



table.table-striped tbody tr {
    &:first-child td:first-child {
        //padding: 0;
    }
    &:first-child td:last-child {
        //padding-right: 0;
    }

    td {
        //padding: 0;
        a {
            display: block;
            color: $se-blue;
            //padding: 8px;
        }

    }
    thead + tbody tr:nth-child(2n-1) td {
        background: $se-light-grey;
    }
    &:hover td {
        background: $se-grey-hover !important;
    }
}

table.table-striped:not(.active) tbody tr {
    &:hover td {
        background: $se-grey-hover !important;
    }
}

table.plain {
    margin: 0;
    color: $se-dark-grey;
    tr:first-child td:first-child {
        padding: 8px 15px 8px 0;
        @media all and (max-width: $screen-sm-max) {
            padding: 8px 8px 8px 0;
        }
    }
    tr:first-child td, th {
        border-bottom: 1px solid $se-mid-grey;
        font-weight: 700;
        padding: 8px 15px 8px 0;
        text-align: left;
        vertical-align: top;
    }
    tr:first-child td:not(:first-child) {
        padding-left: 8px;
    }
    tr td {
        background: none;
        border-bottom: 1px solid $se-mid-grey;
        font-weight: 700;
        &:not(:first-child) {
            font-weight: normal;
        }
    }
    tr {
        &:hover {
            background: none;
        }
    }
    thead + tbody tr:nth-child(2n-1) td {
        background: none;
    }
    tr > :first-child {
        padding-left: 0;
    }
}

td.title {
    font-size: 19px;
}

tr:first-child td:first-child {
    padding: 8px;
}

td, thead + tbody tr:first-child td {
    border-bottom: 1px solid #ebebeb;
    padding: 8px;
    vertical-align: top;
}

// any table following an h2
h2 ~ table {
    margin-top: 0;
}

table.table-striped.no-hover th.center {
    text-align: center;
}
table.table-striped.no-hover tbody tr {
    &:hover td {
        background: none !important;
    }
    &.status td {
        line-height: 1em;
    }
    td.has-link {
        text-align: center;
        a {
            background-color: $se-blue;
            color: $se-white;
            padding: 8px 0;
            @include border-radius(8px);
            width: 80%;
            margin: auto;
        }

    }
    &.status-new td.has-link a {
        background-color: $se-mid-grey !important;
        &:hover {
            background-color: $se-black !important;
        }
    }
    &.status-due td.has-link a {
        background-color: $accessible-green !important;
        &:hover {
            background-color: $se-black !important;
        }
    }
    &.status-started td.has-link a {
        background-color: $se-dark-green !important;
        &:hover {
            background-color: $se-black !important;
        }
    }
    &.status-completed td.has-link a {
        background-color: $se-light-blue !important;
        &:hover {
            background-color: $se-black !important;
        }
    }
    &.status-submitted td.has-link a {
        background-color: $se-blue !important;
        &:hover {
            background-color: $se-black !important;
        }
    }
    &.status-paid td.has-link a {
        background-color: $se-purple !important;
        &:hover {
            background-color: $se-black !important;
        }
    }

    progress {
        font-size: 1px;
        line-height: 9px;
        width: 100%;
        padding: 0;
        height: 7px;
        border: 1px solid $se-grey;
        background: #fff;
    }

    &.status-new {
        @include progress-bar($se-mid-grey, $se-white);
    }
    &.status-due {
        @include progress-bar($accessible-green, $se-white);
    }
    &.status-started {
        @include progress-bar($se-dark-green, $se-white);
    }
    &.status-completed {
        @include progress-bar($se-light-blue, $se-white);
    }
    &.status-submitted {
        @include progress-bar($se-blue, $se-white);
    }
    &.status-paid {
        @include progress-bar($se-purple, $se-white);
    }
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    //td:nth-of-type(1):before { content: "First Name"; }
    //td:nth-of-type(2):before { content: "Last Name"; }
    //td:nth-of-type(3):before { content: "Job Title"; }
    //td:nth-of-type(4):before { content: "Favorite Color"; }
    //td:nth-of-type(5):before { content: "Wars of Trek?"; }
    //td:nth-of-type(6):before { content: "Porn Name"; }
    //td:nth-of-type(7):before { content: "Date of Birth"; }
    //td:nth-of-type(8):before { content: "Dream Vacation City"; }
    //td:nth-of-type(9):before { content: "GPA"; }
    //td:nth-of-type(10):before { content: "Arbitrary Data"; }



    .claim-schedule {
        td {
            padding: 10px 0 10px 50% !important;
        }
        /*
    Label the data
    */
        td:nth-of-type(1):before { content: "Claim name"; }
        td:nth-of-type(2):before { content: "Due date"; }
        td:nth-of-type(3):before { content: "Amount"; }
        td:nth-of-type(4):before { content: "Status"; }
        td:nth-of-type(5):before { content: "Adjust"; }
        td:nth-of-type(6):before { content: "Actions"; }
    }
}


