/* ==========================================================================
   SE Custom styles for typography 
   ========================================================================== */

/*------------------------------------*\
    $INFORMATIONAL NOTES
\*------------------------------------*/

.info-note.note:before {
  background: url("../img/icons/note.png") no-repeat 0 0 transparent !important;
}
@media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
  .info-note.note:before {
    background-image: url("../img/icons/note_@2x.png") !important;
    background-size: 26px 26px !important;
  }
}
.info-note.caution:before {
  background: url("../img/icons/caution.png") no-repeat 0 0 transparent !important;
}
@media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
  .info-note.caution:before {
    background-image: url("../img/icons/caution_@2x.png") !important;
    background-size: 36px 36px !important;
  }
}

h1 {
  font-size: 49px;
  line-height: 56px;
}

h2 {
  font-size: 26px;
  line-height: 35px;
}

h3 {
  font-size: 19px;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  line-height: 25px;
}

h5 {
  font-size: 14px;
  line-height: 23px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

.leader {
  font-size: 25px;
  line-height: 34px;
  font-weight: 300;
  margin: 0 0 35px 0;
}

// Create margin on First .leader within a container //
.container > .row > div > .leader {
  margin-top: 15px;
}

// Override Scot Gov color //
.emphasis {
  &:before {
    background-color: $se-blue;
  }
}

// -- Breadcrumbs -- //
.breadcrumbs {
  font-size: 14px;
  margin: 0 0 13px;
  color: $se-grey;
  padding-left: 0;
  // TODO refactor to be just .breadcrumbs-item //
  .breadcrumbs__item,
  .breadcrumb-item {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    position: relative;
    text-transform: capitalize;
    &:after {
      font-family: FontAwesome;
      content: "\f105";
      font-size: 16px;
      color: $se-grey;
      font-weight: 300;
      padding: 0 3px 0 8px;
      line-height: 14px;
      box-sizing: inherit;
      position: relative;
      top: 1px;
    }
    &:before {
      content: "";
      padding: 0;
    }
    &:last-of-type:after {
      content: none;
    }
  }
}


