// ==========================================================================
// SE Custom styles for typography
// ========================================================================== */
// -- Headings -- //
h1 {
    font-size: 3.06em;
    line-height: normal;
    margin: 10px 0 25px;
    @media all and (max-width: $screen-xxs-max) {
        font-size: 2.2em;
        line-height: normal;
        margin: 5px 0 10px;
    }
}

// override bootstrap
form h2 {
    margin-top: inherit;
    font-size: 1.875em;
    line-height: normal;
}

h2 {
    font-size: 1.875em;
    line-height: normal;
    margin: 22px 0 13px;
    @media all and (max-width: $screen-xxs-max) {
        font-size: 1.5em;
        line-height: 1.875em;
        margin: 15px 0 10px;
    }
}

h3 {
    font-size: 1.188em;
    line-height: normal;
    margin: 10px 0 7px;
    @media all and (max-width: $screen-xxs-max) {
        font-size: 1.1em;
        line-height: normal;
    }
}

h4 {
    font-size: 1em;
    line-height: normal;
    margin: 10px 0 7px;
    @media all and (max-width: $screen-xxs-max) {
    }
}

h5 {
    font-size: 0.875em;
    line-height: normal;
    margin: 10px 0 7px;
    @media all and (max-width: $screen-xxs-max) {
    }
}

h6 {
    font-size: 0.750em;
    line-height:normal;
    margin: 10px 0 7px;
    @media all and (max-width: $screen-xxs-max) {
    }
}

h1, h2, h4 {
    font-family: din-regularregular, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

h3, h5, h6 {
    font-family: din-mediumregular, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

h1, h2 {
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-weight: 500;
}

.text-large {
    font-size: 1.250em;
}

.leader {
    font-size: 1.563em;
    line-height: normal;
    font-weight: 300;
    margin: 0 0 25px 0;
    word-wrap: break-word;
    @media all and (max-width: $screen-xxs-max) {
        font-size: 1.188em;
        line-height: normal;
        margin-bottom: 15px;
    }
    &.highlight {
        background-color: $se-green-sec;
        color: $se-white;
        padding: 20px;
    }
}

// Create margin on First .leader within a container //
.container > .row > div > .leader {
    margin-top: 15px;
}

// Override Scot Gov color //
.emphasis {
    display: inline-block;
    font-weight: 700;
    padding-top: 15px;
    position: relative;
    margin: 10px 0 15px;
    &:before {
        background-color: $se-blue;
        border-radius: 8px;
        content: '';
        height: 7px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        @media all and (max-width: $screen-xxs-max) {
            height: 6px;
        }
    }
    @media all and (max-width: $screen-xxs-max) {
        padding-top: 12px;
        &:before {
            height: 6px;
        }
    }
}

a, .link {
    color: $se-blue;
    text-decoration: none;
    word-wrap: break-word;
    @include transition(background-color 0.36s, color 0.36s);
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.link { // Match label & file-input button/link styles
    font-weight: 300;
    font-family: 'din-mediumregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// -- If the color changes - let's make it smooth -- //
* {
    @include transition(color 0.36s);
}

// -- Breadcrumbs -- //
.breadcrumbs {
    font-size: 0.875em;
    line-height: normal;
    margin: 20px 0 13px;
    color: $se-grey;
    padding-left: 0;
    // TODO refactor to be just .breadcrumbs-item //
    .breadcrumbs__item,
    .breadcrumb-item {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0;
        padding: 0;
        position: relative;
        &:after {
            font-family: FontAwesome;
            content: "\f105";
            font-size: 1em;
            line-height: normal;
            color: $se-grey;
            font-weight: 300;
            padding: 0 5px;
            box-sizing: inherit;
            position: relative;
            top: 1px;
        }
        &:before {
            content: "";
            padding: 0;
        }
        &:last-of-type:after {
            content: none;
        }
    }
    .breadcrumb > .active {
        color: $se-grey;
    }
}

.breadcrumbs ol.breadcrumb {
    padding: 0;
    .breadcrumb-item {
        @media all and (max-width: $screen-xxs-max) {
            //float: left;
            clear: left;
        }
    }
}

a[href^="tel:"] {
    color: $se-blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.form-group p.bold-heading {
    font-size: 1.188em;
    line-height: normal;
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 0;
}

.optional {
    color: $se-mid-grey;
}

caption {
    margin-left: 8px !important;
}

//*------------------------------------*
//    $INFORMATIONAL NOTES
//*------------------------------------*

.info-note {
    clear: both;
    line-height: normal;
    margin: 35px 0;
    position: relative;
    top: 4px;
    padding: 20px 10px 20px 54px !important;

    i{
        background: none;
        left: 13px;
        position: absolute;
        top: 37%;
        width: 36px;
        padding: 0 5px 0 0;
        font-size: 1.875em;
        line-height: normal;
        color: $se-blue;
        @media all and (max-width: $screen-md-min) {
            top: 25px;
        }
    }

    &.note {
        border-width: 1px 0;
        border-color: $se-grey;
        border-style: solid;
        font-size: 1em;

    }
    &.caution {
        font-size: 1em !important;
        line-height: normal;
        border-width: 1px 0;
        border-color: $se-grey;
        border-style: solid;
        background-color: inherit;
        font-weight: 700;
        min-height: 60px; // Caution icon height @ 30px + 15px padding top/bottom
        @media all and (max-width: $screen-xxs-max) {
            padding-bottom: 13px;
        }
        &:before {
            background: none;
            content: "\f071";
            left: 10px;
            position: absolute;
            top: 15px;
            width: 36px;
            font-family: FontAwesome;
            padding: 0 5px 0 0;
            font-size: 1.875em;
            line-height: normal;
            color: $se-amber;
            /*@media all and (max-width: $screen-md-min) {
                top: 30px;
            }*/
        }
        > p:last-of-type {
            margin-bottom: 0;
        }
    }
    fieldset {
        margin-bottom: 0;
    }
    input[type="radio"],
    input[type="checkbox"] {
        width: 0;
        margin-left: 0;
    }
    ul {
        margin-left: 16px;
    }
}

.imrs-enquiry {
    fieldset {
        margin-top: 0;
    }
}

.card-view {
    .info-note {
        &.caution,
        &.note {
            margin-top: 0;
            @media all and (max-width: $screen-xxs-max) {
                padding: 10px 10px 0px 54px !important;
            }
        }
    }
}

.text-light {
    font-weight: 300;
    font-size: 0.875em;
    line-height:normal;
    padding-top: 10px;
}

.strong {
    font-weight: bold;
}

.no-wrap {
    white-space: nowrap;
}