
/* ==========================================================================
   Variables 
   ========================================================================== */

//variables we will move to variables.scss
$main-font: 'Roboto', sans-serif;


// Colours 
$grey-bg:#F2F2F2;
$grey-borders: #ebebeb;
$error-red: #d32205;

// SE Colour Pallette
$se-bright-green: #00cc00;
$se-dark-green: #03634D;
$se-blue: #00427F;
$se-light-blue: #2980B9;
$se-mid-grey: #999999;
$se-light-grey: #ecf0f1;
$se-black: #2F3E44;
$se-orange: #D65811;
$se-red: #d60000;
$se-body-grey:#666666;
$se-dark-grey: #333333;
$se-white: #ffffff;
$accessible-green: #128512;
$highlight-blue: #00B4FF;


$alert-padding: 0 0 0 7px;
$line-height-computed: 10px 0 0 0;