
/* ==========================================================================
   Variables 
   ========================================================================== */

//variables we will move to variables.scss
$main-font: 'Roboto', sans-serif;


// Colours 
$grey-bg:#F2F2F2;

$grey-borders: #ebebeb;
