---
layout: layout-general
title: Domestic marketing support - Claim evidence
---

<div class="col-lg-9 col-md-12">

    <p class="leader strong">Description: Support of Video Production costs
    </p>

    <p class="leader">We require evidence of your costs (invoices/payslips etc.) and
        matched evidence of your payment of these costs (Bank and/or bacs statements/Credit card statements etc.)
    </p>

</div>

<div class="col-lg-12 col-md-12">
    <div class="leader highlight">
        Upload all your evidence files in support of this claim.
        <ul>
            <li>Each individual file shouldn’t be larger than 10MB.</li>
            <li>We’ll check each file for viruses and notify you of any problems.</li>
            <li>Preferred file types : pdf, jpg, jpeg, gif, png, tiff. </li>
        </ul>
    </div>

    <h2 class="emphasis">Supporting files</h2>
    <a class="right-align right-link-inline examples" href="claim-examples-2.html" target="_blank">See examples</a>
    <p class="leader">
        Upload your evidence in the appropriate section..
    </p>
</div>

<!--//////////////////////////////////////////////////////-->

<div class="col-lg-12 col-md-12">
    <section class="card-view">
        <!--Accordion 0a-->
        <div class="panel-group accordion-evidence small" id="accordion0a">
            <div class="panel panel-default">

                <!--Header-level-0a-->
                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion0a" href="#collapse0a">
                    <h4 class="panel-title">
                        Period - Aug-17 to Dec-17
                    </h4>
                    <div class="cross-check-alert success"></div>
                    <span class="header-panel-icon"></span>
                </div>

                <!--Body-level-0a-->
                <div id="collapse0a" class="panel-collapse collapse">
                    <div class="panel-body">


                        <!--Accordion 1ba-->
                        <div class="panel-group" id="accordion1ba">
                            <div class="panel panel-default">

                                <!--Header-level-1ba-->
                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion1ba" href="#collapse1ba">
                                    <h4 class="panel-title">
                                        Consultancy fees
                                    </h4>
                                    <span class="header-panel-icon"></span>
                                </div>

                                <!--Body-level-1ba-->
                                <div id="collapse1ba" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <!--Accordion 2ba-->
                                        <div class="panel-group" id="accordion2ba">
                                            <div class="panel panel-default">

                                                <!--Header-level-2ba-->
                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion2ba" href="#collapse2ba">
                                                    <h4 class="panel-title">
                                                        Bank statements
                                                    </h4>
                                                    <span class="header-panel-icon"></span>
                                                </div>

                                                <!--Body-level-2ba-->
                                                <div id="collapse2ba" class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        <!--Accordion 3ba-->
                                                        <div class="panel-group" id="accordion3ba">
                                                            <div class="panel panel-default">

                                                                <!--Header-level-3ba-->
                                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion3ba" href="#collapse3ba">
                                                                    <div class="panel-mid">
                                                                        <div class="evidence-description">
                                                                            Bank statements must show transaction dates, amounts and payees that match other evidence, such as invoices, salary
                                                                            payments or receipts.
                                                                        </div>
                                                                        <span class="header-panel-icon help">Help</span>
                                                                    </div>
                                                                </div>

                                                                <!--Body-level-3ba-->
                                                                <div id="collapse3ba" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <section>
                                                                            <div class="row">
                                                                                {% include evidence-bank.html %}
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>

                                                                <section class="card-view upload-container">
                                                                    <form class="claim-evidence-form">
                                                                        <section class="upload-wrapper">
                                                                            <div class="file-upload-list">

                                                                                <div class="file-upload-wrapper row success">
                                                                                    <div class="col-sm-9 col-xs-12 file-details-wrapper">
                                                                                        <i class="fa fa-check fa-1x fa-fw"></i>
                                                                                        <span class="file-name">
                                                                                            bank-01-nov17.pdf
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-1 col-xs-12 file-amount-wrapper">
                                                                                        <span class="file-amount">
                                                                                            £16750
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-xs-12 file-remove-wrapper">
                                                                                        <span class="file-remove">
                                                                                        <a href="#Y" class="btn-remove">
                                                                                                Remove
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </section>
                                                                    </form>
                                                                </section>
                                                                <!--Upload-container-->
                                                                {% include upload-container-1.html %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Accordion 2bb-->
                                        <div class="panel-group" id="accordion2bb">
                                            <div class="panel panel-default">

                                                <!--Header-level-2bb-->
                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion2bb" href="#collapse2bb">
                                                    <h4 class="panel-title">
                                                        Invoices
                                                    </h4>
                                                    <span class="header-panel-icon"></span>
                                                </div>

                                                <!--Body-level-2bb-->
                                                <div id="collapse2bb" class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        <!--Accordion 3bb-->
                                                        <div class="panel-group" id="accordion3bb">
                                                            <div class="panel panel-default">

                                                                <!--Header-level-3bb-->
                                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion3bb" href="#collapse3bb">
                                                                    <div class="panel-mid">
                                                                        <div class="evidence-description">
                                                                            Awaiting descriptive text<br />
                                                                            Invoices and receipts                                                                    </div>
                                                                        <span class="header-panel-icon help">Help</span>
                                                                    </div>
                                                                </div>

                                                                <div id="collapse3bb" class="panel-collapse collapse">
                                                                    <div class="panel-body">

                                                                        <section>
                                                                            <div class="row">
                                                                                {% include evidence-receipted-invoice.html %}
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>

                                                                <section class="card-view upload-container">
                                                                    <form class="claim-evidence-form">
                                                                        <section class="upload-wrapper">
                                                                            <div class="file-upload-list">

                                                                                <div class="file-upload-wrapper row success">
                                                                                    <div class="col-sm-9 col-xs-12 file-details-wrapper">
                                                                                        <i class="fa fa-check fa-1x fa-fw"></i>
                                                                                        <span class="file-name">
                                                                                            inv-01-nov17.pdf
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-1 col-xs-12 file-amount-wrapper">
                                                                                        <span class="file-amount">
                                                                                            £16750
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-xs-12 file-remove-wrapper">
                                                                                        <span class="file-remove">
                                                                                        <a href="#Y" class="btn-remove">
                                                                                                Remove
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </section>
                                                                    </form>
                                                                </section>
                                                                <!--Upload-container-->
                                                                {% include upload-container-1.html %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Section confirm buttons -->
                                        <div class="section-complete-button button">Check amounts</div>
                                        <div class="section-save-button button">Save for later</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>



    <!--FILE STATUS KEY-->

    <section class="card-view">

        <section class="key-wrapper">
            <h3>Key</h3>
            <div class="key-status">
                <div class="key success">
                    <i class="fa fa-check fa-1x fa-fw"></i>
                    File added
                </div>
                <div class="key processing">
                    <i class="fa fa-refresh fa-1x fa-fw"></i>
                    Processing
                </div>
                <div class="key failed failed-upload">
                    <i class="fa fa-times fa-1x fa-fw"></i>
                    Failed upload
                </div>
                <div class="key failed failed-scan">
                    <i class="fa fa-exclamation-circle fa-1x fa-fw"></i>
                    Failed scan
                </div>
            </div>
        </section>
    </section>


    <!--ADDITIONAL INFO-->

    {% include additional-info.html %}


    <!--CHECK INFO COMPLETE-->

    <section class="card-view">
        <form>
            <section class="upload-wrapper">
                <div class="info-note caution">
                    <p>Have you uploaded all the evidence needed to support this claim?
                    </p>

                </div>
                <fieldset>
                    <legend class="sr-only">
                        Confirm all evidence uploaded
                    </legend>
                    <div class="input-wrapper">
                        <input name="###" id="###id" class="fancy-checkbox" type="checkbox">
                        <label for="###id" class="inline fancy-checkbox">I have included all the evidence required to support this claim</label>
                    </div>
                </fieldset>
            </section>
        </form>
    </section>


    <!--CONTROLS-->

    <section class="card-view">
        <form>
            <a href="claim-declaration.html" class="button button-primary">Continue claim</a>
            <a href="claim-detail.html" class="button button-tertiary">Save and exit claim</a>

            <a href="claim-summary-single-output.html" class="button button-primary">Claim summary (temp link)</a>
        </form>
    </section>
    <a href="../funding-overview-imfh.html" class="button button-back">Back to Claim overview</a>

</div>
