---
layout: layout-general
title: Examples of acceptable claim evidence
---

<div class="col-lg-12 col-md-12">

    <p class="leader">We require evidence of your costs (invoices/payslips etc.) and matched evidence of your payment of these costs (Bank and/or bacs statements/Credit card statements etc.)</p>

    <p>This information details the minimum evidence required to support the eligible project costs identified in the contract approved for your project.</p>

    <p>If you have any questions about your claim, please contact the contract specialist named in your contract.</p>

    <div class="margin-3t">
        <p class="leader"><strong>Evidence of costs</strong></p>
    </div>

    <section id="supplier-costs" class="card-view">
        <div class="row">
            <div class="col-md-12">
                <h2 class="emphasis">Supplier/consultant costs</h2>
            </div>
            {% include evidence-supplier-costs.html %}
        </div>
    </section>

    <section id="salaries-esif" class="card-view">
        <div class="row">
            <div class="col-md-12">
                <h2 class="emphasis">Salaries - ESIF</h2>
            </div>
            {% include evidence-salaries-esif.html %}
        </div>
    </section>

    <section id="salaries-non-esif" class="card-view">
        <div class="row">
            <div class="col-md-12">
                <h2 class="emphasis">Salaries - non-ESIF</h2>
            </div>
            {% include evidence-salaries-non-esif.html %}
        </div>
    </section>

    <section id="travel-accom" class="card-view">
        <div class="row">
            <div class="col-md-12">
                <h2 class="emphasis">Travel and accomodation</h2>
            </div>
            {% include evidence-travel.html %}
        </div>
    </section>

    <div class="margin-3t">
        <p class="leader"><strong>Evidence of payment</strong></p>
        <div class="info-note note">All claims evidence must be accompanied by evidence of payment, such as a bank statement, credit card statement or Bacs statement, which clearly shows that you have paid out the amount you are claiming for.</div>
    </div>

    <section id="bank-statement" class="card-view">
        <div class="row">
            <div class="col-md-12">
                <h2 class="emphasis">Company bank statement</h2>
            </div>
            {% include evidence-bank.html %}
        </div>
    </section>

    <section id="bacs-statement" class="card-view">
        <div class="row">
            <div class="col-md-12">
                <h2 class="emphasis">Bacs transaction list</h2>
            </div>
            {% include evidence-bacs.html %}
        </div>
    </section>

    <section id="credit-card" class="card-view">
        <div class="row">
            <div class="col-md-12">
                <h2 class="emphasis">Credit card statement</h2>
            </div>
            {% include evidence-credit-card.html %}
        </div>
    </section>

    <section id="company-cheque" class="card-view">
        <div class="row">
            <div class="col-md-12">
                <h2 class="emphasis">Company cheque</h2>
            </div>
            {% include evidence-cheque.html %}
        </div>
    </section>

    <section id="receipted-invoice" class="card-view">
        <div class="row">
            <div class="col-md-12">
                <h2 class="emphasis">Receipted invoice or supplier statement</h2>
            </div>
            {% include evidence-receipted-invoice.html %}
        </div>
    </section>

</div>