---
layout: layout-general
title: Branding and marketing project - Claim evidence
---

<div class="col-lg-9 col-md-12">

    <p class="leader strong">
        Description: Packaging & exhibition setup and commercial collateral
    </p>

    <p class="leader">We require evidence of your costs (invoices/payslips etc.) and
        matched evidence of your payment of these costs (Bank and/or bacs statements/Credit card statements etc.)
    </p>

</div>

<div class="col-lg-12 col-md-12">
    <div class="leader highlight">
        Upload all your evidence files in support of this claim.
        <ul>
            <li>Each individual file shouldn’t be larger than 10MB.</li>
            <li>We’ll check each file for viruses and notify you of any problems.</li>
            <li>Preferred file types : pdf, jpg, jpeg, gif, png, tiff. </li>
        </ul>
    </div>
</div>

<!--//////////////////////////////////////////////////////-->

<div class="col-lg-12 col-md-12">
    <section class="card-view">

        <h2 class="emphasis">Supporting files</h2>
        <a class="right-align right-link-inline examples" href="claim-examples-2.html" target="_blank">See examples</a>
        <p class="leader">
            Upload your evidence in the appropriate section..
        </p>

        <!--Accordion 0a-->
        <div class="panel-group accordion-evidence" id="accordion0a">
            <div class="panel panel-default">

                <!--Header-level-0a-->
                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion0a" href="#collapse0a">
                    <h4 class="panel-title">
                        Phase 1 - Mar-17
                    </h4>
                    <div class="cross-check-alert success"></div>
                    <span class="header-panel-icon"></span>
                </div>

                <!--Body-level-0a-->
                <div id="collapse0a" class="panel-collapse collapse">
                    <div class="panel-body">

                        <!--Accordion 1ba-->
                        <div class="panel-group" id="accordion1ba">
                            <div class="panel panel-default">

                                <!--Header-level-1ba-->
                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion1ba" href="#collapse1ba">
                                    <h4 class="panel-title">
                                        Consultancy fees
                                    </h4>
                                    <span class="header-panel-icon"></span>
                                </div>

                                <!--Body-level-1ba-->
                                <div id="collapse1ba" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <!--Accordion 2ba-->
                                        <div class="panel-group" id="accordion2ba">
                                            <div class="panel panel-default">

                                                <!--Header-level-2ba-->
                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion2ba" href="#collapse2ba">
                                                    <h4 class="panel-title">
                                                        Bank statements
                                                    </h4>
                                                    <span class="header-panel-icon"></span>
                                                </div>

                                                <!--Body-level-2ba-->
                                                <div id="collapse2ba" class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        <!--Accordion 3ba-->
                                                        <div class="panel-group" id="accordion3ba">
                                                            <div class="panel panel-default">

                                                                <!--Header-level-3ba-->
                                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion3ba" href="#collapse3ba">
                                                                    <div class="panel-mid">
                                                                        <div class="evidence-description">
                                                                            Bank statements must show transaction dates, amounts and payees that match other evidence, such as invoices, salary
                                                                            payments or receipts.
                                                                        </div>
                                                                        <span class="header-panel-icon help">Help</span>
                                                                    </div>
                                                                </div>

                                                                <!--Body-level-3ba-->
                                                                <div id="collapse3ba" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <section>
                                                                            <div class="row">
                                                                                {% include evidence-bank.html %}
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>

                                                                <section class="card-view upload-container">
                                                                    <form class="claim-evidence-form">
                                                                        <section class="upload-wrapper">
                                                                            <div class="file-upload-list">

                                                                                <div class="file-upload-wrapper row success">
                                                                                    <div class="col-sm-9 col-xs-12 file-details-wrapper">
                                                                                        <i class="fa fa-check fa-1x fa-fw"></i>
                                                                                        <span class="file-name">
                                                                                            bank-01-mar17.pdf
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-1 col-xs-12 file-amount-wrapper">
                                                                                        <span class="file-amount">
                                                                                            £8730
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-xs-12 file-remove-wrapper">
                                                                                        <span class="file-remove">
                                                                                        <a href="#Y" class="btn-remove">
                                                                                                Remove
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </section>
                                                                    </form>
                                                                </section>
                                                                <!--Upload-container-->
                                                                {% include upload-container-1.html %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Accordion 2bb-->
                                        <div class="panel-group" id="accordion2bb">
                                            <div class="panel panel-default">

                                                <!--Header-level-2bb-->
                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion2bb" href="#collapse2bb">
                                                    <h4 class="panel-title">
                                                        Invoices
                                                    </h4>
                                                    <span class="header-panel-icon"></span>
                                                </div>

                                                <!--Body-level-2bb-->
                                                <div id="collapse2bb" class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        <!--Accordion 3bb-->
                                                        <div class="panel-group" id="accordion3bb">
                                                            <div class="panel panel-default">

                                                                <!--Header-level-3bb-->
                                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion3bb" href="#collapse3bb">
                                                                    <div class="panel-mid">
                                                                        <div class="evidence-description">
                                                                            Awaiting descriptive text<br />
                                                                            Invoices and receipts                                                                    </div>
                                                                        <span class="header-panel-icon help">Help</span>
                                                                    </div>
                                                                </div>

                                                                <div id="collapse3bb" class="panel-collapse collapse">
                                                                    <div class="panel-body">

                                                                        <section>
                                                                            <div class="row">
                                                                                {% include evidence-receipted-invoice.html %}
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>

                                                                <section class="card-view upload-container">
                                                                    <form class="claim-evidence-form">
                                                                        <section class="upload-wrapper">
                                                                            <div class="file-upload-list">

                                                                                <div class="file-upload-wrapper row success">
                                                                                    <div class="col-sm-9 col-xs-12 file-details-wrapper">
                                                                                        <i class="fa fa-check fa-1x fa-fw"></i>
                                                                                        <span class="file-name">
                                                                                            inv-01-mar17.pdf
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-1 col-xs-12 file-amount-wrapper">
                                                                                        <span class="file-amount">
                                                                                            £1350
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-xs-12 file-remove-wrapper">
                                                                                        <span class="file-remove">
                                                                                        <a href="#Y" class="btn-remove">
                                                                                                Remove
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>


                                                                                <div class="file-upload-wrapper row success">
                                                                                    <div class="col-sm-9 col-xs-12 file-details-wrapper">
                                                                                        <i class="fa fa-check fa-1x fa-fw"></i>
                                                                                        <span class="file-name">
                                                                                            inv-02-mar17.pdf
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-1 col-xs-12 file-amount-wrapper">
                                                                                        <span class="file-amount">
                                                                                            £3600
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-xs-12 file-remove-wrapper">
                                                                                        <span class="file-remove">
                                                                                        <a href="#Y" class="btn-remove">
                                                                                                Remove
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="file-upload-wrapper row success">
                                                                                    <div class="col-sm-9 col-xs-12 file-details-wrapper">
                                                                                        <i class="fa fa-check fa-1x fa-fw"></i>
                                                                                        <span class="file-name">
                                                                                            inv-03-mar17.pdf
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-1 col-xs-12 file-amount-wrapper">
                                                                                        <span class="file-amount">
                                                                                            £1080
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-xs-12 file-remove-wrapper">
                                                                                        <span class="file-remove">
                                                                                        <a href="#Y" class="btn-remove">
                                                                                                Remove
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="file-upload-wrapper row processing">
                                                                                    <div class="col-sm-9 col-xs-12 file-details-wrapper">
                                                                                        <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
                                                                                        <span class="file-name">
                                                                                            inv-04-mar17.pdf
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-1 col-xs-12 file-amount-wrapper">
                                                                                        <span class="file-amount">
                                                                                            £2700
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-xs-12 file-remove-wrapper">
                                                                                        <span class="file-remove">
                                                                                        <a href="#Y" class="btn-remove">
                                                                                                Remove
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </section>
                                                                    </form>
                                                                </section>
                                                                <!--Upload-container-->
                                                                {% include upload-container-1.html %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Section confirm buttons -->
                                        <div class="section-complete-button button">Check amounts</div>
                                        <div class="section-save-button button">Save for later</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--ZAccordion 0a-->
        <div class="panel-group accordion-evidence" id="Zaccordion0a">
            <div class="panel panel-default">

                <!--Header-level-0a-->
                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion0a" href="#Zcollapse0a">
                    <h4 class="panel-title">
                        Phase 2 - May-17
                    </h4>
                    <span class="header-panel-icon"></span>
                </div>

                <!--Body-level-0a-->
                <div id="Zcollapse0a" class="panel-collapse collapse">
                    <div class="panel-body">

                        <!--Accordion 1ba-->
                        <div class="panel-group" id="Zaccordion1ba">
                            <div class="panel panel-default">

                                <!--Header-level-1ba-->
                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion1ba" href="#Zcollapse1ba">
                                    <h4 class="panel-title">
                                        Consultancy fees
                                    </h4>
                                    <span class="header-panel-icon"></span>
                                </div>

                                <!--Body-level-1ba-->
                                <div id="Zcollapse1ba" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <!--Accordion 2ba-->
                                        <div class="panel-group" id="Zaccordion2ba">
                                            <div class="panel panel-default">

                                                <!--Header-level-2ba-->
                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion2ba" href="#Zcollapse2ba">
                                                    <h4 class="panel-title">
                                                        Bank statements
                                                    </h4>
                                                    <span class="header-panel-icon"></span>
                                                </div>

                                                <!--Body-level-2ba-->
                                                <div id="Zcollapse2ba" class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        <!--Accordion 3ba-->
                                                        <div class="panel-group" id="Zaccordion3ba">
                                                            <div class="panel panel-default">

                                                                <!--Header-level-3ba-->
                                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion3ba" href="#Zcollapse3ba">
                                                                    <div class="panel-mid">
                                                                        <div class="evidence-description">
                                                                            Bank statements must show transaction dates, amounts and payees that match other evidence, such as invoices, salary
                                                                            payments or receipts.
                                                                        </div>
                                                                        <span class="header-panel-icon help">Help</span>
                                                                    </div>
                                                                </div>

                                                                <!--Body-level-3ba-->
                                                                <div id="Zcollapse3ba" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <section>
                                                                            <div class="row">
                                                                                {% include evidence-bank.html %}
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>

                                                                <!--Upload-container-->
                                                                {% include upload-container-1.html %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Accordion 2bb-->
                                        <div class="panel-group" id="Zaccordion2bb">
                                            <div class="panel panel-default">

                                                <!--Header-level-2bb-->
                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion2bb" href="#Zcollapse2bb">
                                                    <h4 class="panel-title">
                                                        Invoices
                                                    </h4>
                                                    <span class="header-panel-icon"></span>
                                                </div>

                                                <!--Body-level-2bb-->
                                                <div id="Zcollapse2bb" class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        <!--Accordion 3bb-->
                                                        <div class="panel-group" id="Zaccordion3bb">
                                                            <div class="panel panel-default">

                                                                <!--Header-level-3bb-->
                                                                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion3bb" href="#Zcollapse3bb">
                                                                    <div class="panel-mid">
                                                                        <div class="evidence-description">
                                                                            Awaiting descriptive text<br />
                                                                            Invoices and receipts                                                                    </div>
                                                                        <span class="header-panel-icon help">Help</span>
                                                                    </div>
                                                                </div>

                                                                <div id="Zcollapse3bb" class="panel-collapse collapse">
                                                                    <div class="panel-body">

                                                                        <section>
                                                                            <div class="row">
                                                                                {% include evidence-receipted-invoice.html %}
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>

                                                                <!--Upload-container-->
                                                                {% include upload-container-1.html %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Section confirm buttons -->
                                        <div class="section-complete-button button">Check amounts</div>
                                        <div class="section-save-button button">Save for later</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


    <!--FILE STATUS KEY-->

    {% include file-status-key.html %}


    <!--ADDITIONAL INFO-->

    {% include additional-info-6.html %}


    <!--CHECK INFO COMPLETE-->

    {% include claim-info-check-02.html %}


    <!--CONTROLS-->

    <section class="card-view">
        <form>
            <a href="claim-declaration.html" class="button button-primary">Continue claim</a>
            <a href="claim-detail.html" class="button button-tertiary">Save and exit claim</a>

            <a href="claim-summary-dual-output.html" class="button button-primary temp">Claim summary (temp link)</a>
        </form>
    </section>
    <a href="../funding-overview-imfh.html" class="button button-back">Back to Claim overview</a>

</div>
