---
layout: layout-general
title: One upload - Claim evidence
---

<div class="col-lg-9 col-md-12">
    <p class="leader">
        Attach all your evidence files in support of this claim. Each individual file shouldn’t be
        larger than 10MB. We’ll check each file for viruses and notify you of any problems.
    </p>

    <div class="card-view">
        <h2 class="emphasis">Supporting files</h2>
        <a class="right-align right-link-inline examples" href="claim-examples-2.html" target="_blank">See examples</a>

        <section class="key-wrapper">
            <h3>Key</h3>
            <div class="key-status">
                <div class="key success">
                    <i class="fa fa-check fa-1x fa-fw"></i>
                    File added
                </div>
                <div class="key processing">
                    <i class="fa fa-refresh fa-1x fa-fw"></i>
                    Processing
                </div>
                <div class="key failed failed-upload">
                    <i class="fa fa-times fa-1x fa-fw"></i>
                    Failed upload
                </div>
                <div class="key failed failed-scan">
                    <i class="fa fa-exclamation-circle fa-1x fa-fw"></i>
                    Failed scan
                </div>
            </div>
        </section>
    </div>


    <!--Upload-container-->
    {% include upload-container-complex.html %}


    <!--Upload-container-->
    {% include evidence-file-table.html %}


    <!--ADDITIONAL INFO-->

    {% include additional-info.html %}


    <!--CHECK INFO COMPLETE-->

    {% include claim-info-check.html %}


    <!--CONTROLS-->

    <section class="card-view">
        <form>
            <a href="claim-declaration.html" class="button button-primary">Continue claim</a>
            <a href="claim-detail.html" class="button button-tertiary">Save and exit claim</a>

            <a href="claim-summary-dual-output.html" class="button button-primary temp">Claim summary (temp link)</a>
        </form>
    </section>
    <a href="../funding-overview-imfh.html" class="button button-back">Back to Claim overview</a>

</div>
