---
layout: layout-general
title: Add expenditure
files:
  - Payslip example 1.pdf
  - Payslip example 2.pdf
stepper:
  - Add expenditure
  - Add payment
  - Add supporting files
  - Check your claim
  - Submit your claim
---

<!--Multi-user journey-->
<div class="col-md-12">

    {% include funding-and-support-claim-details.html %}

    <div class="row margin-2b margin-2t">

		<!--Stepper-->
		<section class="col-md-3 col-md-push-9 margin-2b">
			<ol class="stepper">
				<li class="step-active">
					<span class="stepper-circle"><span class="sr-only">Current step </span>1</span>
					<span class="stepper-title">Add expenditure</span>
					<div class="stepper-line"></div>
				</li>
				<li>
					<span class="stepper-circle"><span class="sr-only">Step </span>2</span>
					<span class="stepper-title">Add payment</span>
					<div class="stepper-line"></div>
				</li>
				<li>
					<span class="stepper-circle"><span class="sr-only">Step </span>3</span>
					<span class="stepper-title">Add supporting files</span>
					<div class="stepper-line"></div>
				</li>
				<li>
					<span class="stepper-circle"><span class="sr-only">Step </span>4</span>
					<span class="stepper-title">Check your claim</span>
					<div class="stepper-line"></div>
				</li>
				<li>
					<span class="stepper-circle"><span class="sr-only">Step </span>5</span>
					<span class="stepper-title">Submit your claim</span>
				</li>
			</ol>

			<!--<ul class="clean-list margin-0">-->
			<!--{% for step in page.stepper %}-->
			<!--<li>-->
			<!--<span class="stepper-circle">{{ forloop.index}}</span>-->
			<!--<span class="stepper-title">{{ step }}</span>-->
			<!--{% if forloop.last == false %}-->
			<!--<div class="stepper-line"></div>-->
			<!--{% endif %}-->
			<!--</li>-->
			<!--{% endfor %}-->
			<!--</ul>-->

		</section>
		<section class="col-md-9 col-md-pull-3 ">

			<section class="key-wrapper">
				<p class="margin-0">Attach all your expenditure files in support of this claim. Each individual file shouldn’t be
					larger than 10MB. We’ll check each file for viruses and notify you of any problems.</p>

				<div class="key-status">
					<div class="key text-bold">Key:&nbsp;</div>
					<div class="key success"><i class="fa fa-check fa-1x fa-fw"></i>File added</div>
					<div class="key processing"><i class="fa fa-refresh fa-1x fa-fw"></i>Processing</div>
					<div class="key failed"><i class="fa fa-exclamation-circle fa-1x fa-fw"></i>Failed</div>
				</div>
			</section>

			<section class="card-view">

				<section class="upload-wrapper">

					<h2 class="margin-0t">Payslip</h2>

					<p>Add a payslip for each employee whose salary you are claiming for. If this is a quarterly claim, add three monthly payslips for each employee. <a class="link " data-toggle="collapse" href="#example-payslip" role="button" aria-expanded="false" aria-controls="collapseExample">See guidance notes<i class="fa fa-caret-down fa-1x fa-fw"></i>
					</a></p>
					<div class="row margin-1 show-xs show-sm hidden-md hidden-lg">
						<a class="link pull-right" data-toggle="collapse" href="#example-payslip" role="button" aria-expanded="false" aria-controls="collapseExample">See guidance notes<i class="fa fa-caret-down fa-1x fa-fw"></i>
						</a>
					</div>

					<div class="collapse" id="example-payslip">
						<div class="card card-body">
							TODO: Payslip relevant information.
						</div>
					</div>

					<div class="file-upload-list">

						{% for file in page.files %}
						<div class="file-upload-wrapper row success">
							<div class="col-sm-8 col-xs-12 file-details-wrapper">
								<i class="fa fa-check fa-1x fa-fw"></i>
								<a href="#" class="file-name">{{ file }}</a>
							</div>

							<div class="col-sm-4 col-xs-12 file-remove-wrapper">
								<ul class="clean-list-horizontal">
									<li><a href="#"><span class="sr-only">download {{file}}</span>Download</a></li>
									<li><button><span class="sr-only">remove {{file}}</span>Remove</button></li>
								</ul>
							</div>
						</div>
						{% endfor %}


						<form class="form-file margin-1t add-new-file">
							<label tabindex="0" class="form-label" for="file-input-0">
								Add a payslip
							</label>
							<input class="form-control sr-only" type="file" value="quotesFile" id="file-input-0">
						</form>
					</div>

				</section>

				<button class="button button-primary">Save claim</button>

				<!--steps-navigation-->
				<section class="row margin-0">
					<div class="col-xs-6 padding-0 step-navigation-previous"></div>

					<div class="col-xs-6 padding-0 step-navigation-next">
						<a href="funding-and-support-add-payment.html">
							<div class="bold next-step">Next</div>
							<div class="next-step-title">Add payment</div>
							<div class="next-step-icon">
								<i class="fa fa-angle-right fa-2x fa-fw"></i>
							</div>
						</a>
					</div>
				</section>

			</section>
		</section>

	</div>
</div>
